/* css reset */
@charset "utf-8";
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html { color: #333; background: #fff; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { margin: 0; padding: 0; }
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }
/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea { font: 12px/1.5 'Microsoft Yahei',tahoma,arial,"Hiragino Sans GB",\5b8b\4f53; }
html,body{ min-width: 320px; background-color: #f9f9f9; }
input,select,textarea { font-size: 100%; }
input[type="text"],input[type="search"] { font-family: 'Microsoft Yahei',arial; -webkit-appearance: none; -webkit-tap-highlight-color: #fff; outline: 0 }
input[type="radio"],input[type="checkbox"]{ display: inline; vertical-align: middle; margin-right:3px;}
/* 去掉各Table  cell 的边距并让其边重合 */
table { border-collapse: collapse;border-spacing: 0; }
/* IE bug fixed: th 不继承 text-align*/
th { text-align: inherit; }
/* 去除默认边框 */
fieldset,img { border:0; }
/* ie6 7 8(q) bug 显示为行内表现 */
iframe { display:block; }
/* 去掉 firefox 下此元素的边框 */
abbr,acronym { border:0;font-variant:normal; }
/* 一致的 del 样式 */
del { text-decoration:line-through; }
address,caption,cite,code,dfn,em,i,th,var { font-style:normal; font-weight:500; }
/* 去掉列表前的标识, li 会继承 */
ol,ul { list-style:none; }
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th { text-align:left; }
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:500; }
q:before,q:after { content:''; }
/* 统一上标和下标 */
sub,sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* 默认不显示下划线，保持页面简洁 */
ins,a { text-decoration: none; }
/* 代码字体 */
code,kbd,pre,samp { font-family: monospace, serif; font-size: 1em; }
/* 正常链接 未访问 */
a{ color: #333; -webkit-transition: all 375ms; transition: all 375ms; }
/* 鼠标悬停 */
a:hover { text-decoration: none; }
/* 清理浮动 */
.fn-clear{ *zoom: 1; /* for IE6 IE7 */ }
.fn-clear:after{ visibility: hidden; display: block; font-size: 0; content: "."; clear: both; height: 0; }
/* 隐藏, 通常用来与 JS 配合 */
.fn-hide { display: none; }
/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right { display: inline; }
.fn-left { float: left; }
.fn-right { float: right; }
/* 单行文字溢出时出现省略号，需设定宽度 */
.fn-text-overflow { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/* 人民币符号 */
.fn-rmb { font-family: arial; font-style: normal; padding-right: 4px; }
/* 宋体符号 */
.fn-simsun { font-family: \5b8b\4f53; font-style: normal; }
/* chrome 下字体过小的问题 */
.fn-webkit-adjust { -webkit-text-size-adjust: none; }
/* 定位 */
.fixed{ position: fixed; }.relative{ position: relative; }.absolute{ position: absolute; }
/* 设置边距 */
.p5{ padding: 5px; }.pt5{ padding-top: 5px; }.pb5{ padding-bottom: 5px; }.pl5{ padding-left: 5px; }.pr5{ padding-right: 5px; }
.p10{ padding: 10px; }.pt10{ padding-top: 10px; }.pb10{ padding-bottom: 10px; }.pl10{ padding-left: 10px; }.pr10{ padding-right: 10px; }
.p20{ padding: 20px; }.pt20{ padding-top: 20px; }.pb20{ padding-bottom: 20px; }.pl20{ padding-left: 20px; }.pr20{ padding-right: 20px; }
.m5{ margin: 5px; }.mt5{ margin-top: 5px; }.mb5{ margin-bottom: 5px; }.ml5{ margin-left: 5px; }.mr5{ margin-right: 5px; }
.m10{ margin: 10px; }.mt10{ margin-top: 10px; }.mb10{ margin-bottom: 10px; }.ml10{ margin-left: 10px; }.mr10{ margin-right: 10px; }
.mt20{ margin-top: 20px; }.mt20{ margin-top: 20px; }.mb20{ margin-bottom: 20px; }.ml20{ margin-left: 20px; }.mb20{ margin-right: 20px; }

/* 字体颜色 */
.white{ color:#fff; }.gray{ color: gray; }.red{ color: red; }.orange{ color: #ff9000; }.green{ color: #37811d; }.green:hover{ color: #276711; }.blue{ color: #047acd; }

/* 字体大小 */
.ft12{ font-size: 12px; }.ft14{ font-size: 14px; }.ft16{ font-size: 16px; }.ft18{ font-size: 18px; }.ft20{ font-size: 20px; }.ft24{ font-size: 24px; }.ft30{ font-size: 30px; }.ft-bold{ font-weight: bold; }

/* 对齐 */
.tac{ text-align: center; }.tal{ text-align: left; }.tar{ text-align: right; }.vam{ vertical-align: middle; }.vat{ vertical-align: top; }.vab{ vertical-align: bottom; }

/* base style */
.fn-clear{ *zoom:1; }.fn-clear:after{ content: "."; display:block; height: 0; clear: both; visibility: hidden; }
.fl{ float: left; }.fr{ float: right; }.fn{ float: none; }
.al{ text-align: left; }.ac{ text-align: center; }.ar{ text-align: right; }
.vam{ vertical-align: middle; }.vat{ vertical-align: top; }.vab{ vertical-align: bottom; }
.pr{ position: relative; *zoom: 1; }.pa{ position: absolute; }.indent{ text-indent: 2em; }
.hide{ display: none; }.block{ display: block!important; }

/* interval margin & padding */
.mt5{ margin-top: 5px; }.mb5{ margin-bottom: 5px; }.ml5{ margin-left: 5px; }.mr5{ margin-right: 5px; }
.mt10{ margin-top: 10px; }.mb10{ margin-bottom: 10px; }.ml10{ margin-left: 10px; }.mr10{ margin-right: 10px; }
.mt20{ margin-top: 20px; }.mb20{ margin-bottom: 20px; }.ml20{ margin-left: 20px; }.mr20{ margin-right: 20px; }
.mb30{ margin-bottom: 30px; }
.pt5{ padding-top: 5px; }.pb5{ padding-bottom: 5px; }.pl5{ padding-left: 5px; }.pr5{ padding-right: 5px; }
.pt10{ padding-top: 10px; }.pb10{ padding-bottom: 10px; }.pl10{ padding-left: 10px; }.pr10{ padding-right: 10px; }.p10{ padding: 10px; }
.pt20{ padding-top: 20px; }.pb20{ padding-bottom: 20px; }.pl20{ padding-left: 20px; }.pr20{ padding-right: 20px; }.p20{ padding: 20px; }

/* font */
.bold{ font-weight: 700; }
.ft12{ font-size: 12px; }.ft14{ font-size: 14px; }.ft16{ font-size: 16px; }.ft18{font-size: 18px; }.ft24{ font-size: 24px; }
.clr3{ color: #333333; }.clr3a a{ color: #333333; }
.clr6{ color: #666666; }.clr6a a{ color: #666666; }
a.clr3:hover,a.clr6:hover,.clr3a a:hover,.clr6a a:hover{ color:#e93100; }
.gray{ color:#999999; }.green{ color:#7CAF00; }.red{ color:#e93100; }.orange{ color:#ff6600; }.blue{  color:#3b4a82; }
.ofh{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:normal; word-wrap:normal; }

/* 主要文字按钮 */
.text-primary{ color: #f0494f; }
.btn-primary{ cursor: pointer; border: 0; width: 100%; color: #fff; background-color: #f0494f; border-radius: 5px; }
.btn-gray{ background-color: #666666; cursor: pointer; border: 0; width: 100%; color: #fff; border-radius: 5px; }

/* 表单 */
.ui-form{ padding-top: 10px; }
.ui-form-input,.ui-form-item{ margin: 10px auto;  padding: 2px 3px; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; background-color: #fff; }
.ui-input{ border: 1px solid #eaeaea; border-radius: 5px; padding: 10px 0; width: 99.5%; text-indent: 10px; height: 18px; line-height: 18px; font-size: 16px;}
.ui-form-input-big .ui-input{ padding: 16px 0; font-size: 18px; line-height: 18px; }
.ui-select{  border: none; color: #666; border-radius: 5px; padding: 5px 0; }
.ui-form-tips{ padding:0 15px; color: red; font-size: 14px; }
.ui-form-button { margin: 10px auto; padding-top: 5px; text-align: center; }
.ui-form-button .btn-primary{ height: 40px; line-height: 40px; font-size: 18px; text-align: center; width: 90%; margin-left: auto; margin-right: auto; }
.btn-primary.captcha{ cursor: pointer; position: absolute; right: 10px; top: 8px; width: 110px; padding:5px 10px; background-color: #f0494f; border: none; border-radius: 5px; color: #fff; }
.btn-primary.disabled{ cursor: default; background-color: #666; }
.ui-form-item{ display: block; overflow: hidden; font-size: 16px; line-height: 38px; padding: 2px 10px; }
.ui-form-item-label{ height: 38px; display: inline-block; float: left; color: #666; }
.ui-form-item-label .btn-primary{ font-size: 12px; height: 16px; padding:2px; overflow: hidden; vertical-align: middle; margin-left: 5px; cursor: default; }
.ui-form-item-value{ float: right; color: #666; }
.ui-form-tips-text{  padding: 0 10px; color: #c7c7cd; font-size: 14px; }

/* 充值 */
.recharge-add-pay,.recharge-add-bank-card-show{ margin: 10px 0; padding: 2px 0;  border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; background-color: #fff; }
.recharge-add-pay .ui-form-item{ margin: 0; border: 0;}
.recharge-add-pay-show .ui-form-item{ background-color: #f0494f; color: #fff; border-bottom: 1px solid #eaeaea; }
.recharge-add-pay-show .ui-form-item-label{ color: #fff; }
.recharge-add-pay-show .ui-form-item-value{ display: none; }

.recharge-add-bank-card{ display: none; }
.recharge-add-bank-card li{ padding: 2px 3px; overflow: hidden; line-height: 38px; font-size: 16px; border-bottom: 1px dashed #e6e6e6; }
.recharge-add-bank-card li label{ padding-left: 7px; float: left; }
.recharge-add-bank-card li span{ float: right; padding-right: 7px; }
.recharge-add-bank-card li span .btn-primary{ width: auto; padding:3px 5px; margin-left: 10px; font-size: 16px; }
.recharge-add-pay-show .recharge-add-bank-card,.recharge-add-bank-card-show{ display: block; }

/* 温馨提示 */
.warm-prompt{ padding: 10px; color: #ccc; }
.warm-prompt-title{ text-align: center; font-size: 14px; color: #ccc; padding-bottom: 5px; }
.warm-prompt p{ font-size: 12px; text-align: center; padding-bottom: 5px; }

/* 总容器 */
#page{ padding-bottom: 50px; }

/* 网站顶部 */
#header{ position: relative; height: 40px; background-color: #f0494f; color: #fff; }
.header-name{ line-height: 40px; font-size: 18px; text-align: center; font-weight: normal; }
.qttz-logo{ overflow: hidden; margin-left: auto; margin-right: auto; display: block; text-indent: -999em; height: 35px; background: url(../img/logo.png) no-repeat center 5px; background-size: 151px 30px;}
.header-tab{ position: absolute; left: 50%; margin-left: -25%; top: 5px; display: table; overflow: hidden;  width: 50%; height: 28px; border: 1px solid #fff; border-radius: 5px; }
.header-tab-item{ display: table-cell; height: 28px; text-align: center; line-height: 28px; }
.header-tab-item a{ display: block; color: #fff; }
.header-tab-item.current{ background-color: #fff; }
.header-tab-item.current a{ color: #f0494f; }
.a-go-back,.a-register{ text-decoration: none; position: absolute; left: 10px; top: 0px; height: 40px; line-height: 40px; display: block; color: #fff; font-size: 14px; }
.btn-nav{ position: absolute; right: 10px; top: 15px; float: right; width: 25px; height: 22px; display: inline-block; background-color: #fff; border: none; cursor: pointer; background: url(../img/icon-nav.png) no-repeat left top; background-size: 25px; height: 14px; }
.a-right-link{ position: absolute; right: 10px; line-height: 40px; font-size: 14px; color: #fff; }

/* 网站导航 */
.nav{ display: none; background-color: #f0494f; width: 100%; position: fixed; top: 0px; z-index: 1000; }
.nav-item{ display: block; border-bottom: 1px solid #da4046; height: 43px; overflow: hidden; line-height: 43px; padding: 0 10px; }
.ico-nav{ display: inline-block; vertical-align: middle; width: 20px; height: 20px;  background-color: #fff; margin-right: 5px; }
.nav-item span{ float: left; color: #fff; font-size: 14px; }

.nav-item em{ float: right; color: #fff; font-size: 14px; }

/* 首页幻灯片 */
.home-slide img{ display: block; overflow: hidden; }

/* 首页数据总计 */
.aggregate{ display: table; width: 100%; height: 60px; background-color: #f0494f; }
.aggregate dl{ display: block; float: left; padding: 10px 0; width: 49%; overflow: hidden; text-align: center; color: #fff;  }
.aggregate dl.aggregate-sum{ width: 50%; }
.aggregate dl:last-child{ border-left: 1px solid #c23d2a;}
.aggregate dl dt{ font-size: 12px; }
.aggregate dl dd{ padding:0 10px; overflow: hidden; font-size: 16px; text-overflow: ellipsis; white-space: nowrap; }

/* 项目列表 */
.item-list{ padding: 10px; background-color: #f7f7f7; }

/* 项目属性组 */
.item-group{ position: relative; display: block; margin-bottom: 10px; border: 1px solid #e7e7e7; border-radius: 5px; background-color: #fff; }
.item-group:hover{ border: 1px solid #f0494f; }
.itme-attr{ padding: 20px 70px 20px 10px; overflow: hidden; }
.itme-attr-group li{ float: left; text-align: center;}
.itme-attr-group li span{ display: block; padding: 0 10px; font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.itme-attr-group li span em{ font-size: 15px; }
.itme-attr-apr,.itme-attr-time{ width: 30%; }
.itme-attr-sum{ width: 40%; }
.itme-attr-content{ color: #999; }
.item-attr-title{ font-size: 12px; color: #999; }

/* 项目进度 */
.itme-speed{ position: absolute; right: 10px; top: 12px; height: 55px; width: 55px; overflow: hidden; }
.itme-speed img{ width: 100%; }

/* 项目标题 */
.item-title{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 14px; line-height: 30px; padding: 0 10px; border-top: 1px dashed #e6e6e6 }
.item-title-name{ color: #333; }
.item-title-sum{ color: #999; padding-left: 5px; }

/* 项目详细 */
.itme-attr-detail{ padding: 15px 10px; overflow: hidden; border-bottom: 1px solid #eaeaea; background-color: #fff; }
.itme-attr-detail .itme-attr-group li span em{ font-size: 20px; }

.attributes-list,.btn-detail-more{  margin-top: 10px; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; background-color: #fff; }
.attributes-list ul{ padding: 0 10px; }
.attributes-list ul li{ padding: 10px; font-size: 14px; border-bottom: 1px dashed #e6e6e6; }
.attributes-list ul li:last-child{ border-bottom: 0; }
.attributes-label{ float: left; }
.attributes-value{ display: block; overflow: hidden; text-align: right; color: #6c6c6c; }

/* 项目详细表格 */
.bid-detail-title{ height: 36px; line-height: 36px; padding: 0 10px; color: #333; font-size: 14px; font-weight: normal; }
.bid-detail-content{ background-color: #fff; padding: 10px; font-size: 12px; line-height: 1.5; }
.bid-detail-table{ border: 1px solid #eaeaea; font-size: 12px }
.bid-detail-table td{ padding: 5px; border: 1px solid #eaeaea; }
.bid-detail-table td img{ display: block; overflow: hidden; }

/* 数据展示表格 */
.ui-table-data{ width: 100%; background-color: #fff; }
.ui-table-data th{ padding: 8px 5px; text-align: left; font-size: 14px; font-weight: normal; background-color: #e6e6e6 }
.ui-table-data td{ padding: 8px 5px; font-size: 12px; border-bottom: 1px solid #eaeaea; color: #444; }
.ui-table-data.ui-table-data-gray td{  background-color: #f7f7f7; }
.ui-table-data th:first-child,.ui-table-data td:first-child{ padding-left: 10px; }
.ui-table-data th:last-child,.ui-table-data td:last-child{ padding-right: 10px; }

/* 投资表单 */
.invest-form{ margin-top: 20px; }
.invest-form ul li{ padding: 10px; font-size: 12px; }
.invest-sum,.invest-coupons{ position: relative; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; background-color: #fff; }
.invest-sum-input{ width: 100%; height: 28px; font-size: 14px; border: none; background-color: #fff; }
.btn-auto-write{ position: absolute; right: 10px; top: 10px; border-radius: 5px; text-align: center; width: 112px; height: 28px; line-height: 28px; font-size: 14px; display: block; background-color: #f0494f; color: #fff; }
.btn-auto-write:hover{ text-decoration: none; color: #f5f5f5; }
.invest-coupons-select{ -webkit-appearance: none; overflow: hidden; color: #999; border: none; width: 100%; height: 28px; font-size: 14px; }
.invest-coupons-quantity{ position: absolute; right: 10px; top: 10px; line-height: 30px; font-size: 14px; color: #999; }
.invest-tips{ color: #999; }
.invest-reward-group{ display: block; margin: 20px auto; padding: 15px; width: 136px; height: 60px; background: url(../img/reward-bg.png) no-repeat left top; background-size: 166px 186px; font-size: 14px; cursor: pointer; }
.invest-reward-group.activity{ background-position: left bottom; }
.invest-reward-group dt{  color: #c7c7cd; }
.invest-reward-group dd{ color: #c7c7cd; text-align: center; }
.invest-reward-group dd span{ font-size: 30px; }
.invest-reward-group.activity dt{ color: #fff; }
.invest-reward-group.activity dd{ color: #ffe100; }
.btn-invest-group{ padding-top: 0; }
.btn-invest-group .btn-invest{ width: 100%; }

/* 更多 */
.btn-detail-more{ position: relative; display: block; padding: 15px 10px; text-align: center; font-size: 14px; }
.btn-detail-more i{ float: right; }

/* 底部固定导航 */
.ui-navbar{ position: fixed; left: 0; bottom: 0; width: 100%;  padding-top: 10px; height: 49px; background-color: #f7f7f7; border-top: 1px solid #e7e7e7; }
.ui-navbar ul{ width: 100%; display: table; }
.ui-navbar ul li{ width: 33.3%; display: table-cell; text-align: center; }
.ui-navbar ul li a{ text-decoration: none; display: block; font-size: 12px; }
.ico{ display: block; width: 26px; height: 20px; margin-right: auto; margin-left: auto; background-color: red; }
.ui-navbar-label{ display: block; }

/* 底部固定投资按钮 */
.btn-invest{ position: relative; display: block; overflow: hidden; width: 80%; margin-left: auto; margin-right: auto; border: 0; height: 40px; background-color: #f2888d; border-radius: 5px; cursor: pointer; }
.btn-invest-text,.btn-invest-speed{ position: absolute; left: 0; top: 0; z-index: 2; display: block; width: 100%; height: 40px; line-height: 40px; font-size: 22px; color: #fff; font-family: 'Microsoft Yahei',arial; }
.btn-invest-speed{ position: absolute; z-index: 1; border-radius: 5px; background-color: #f0494f; }
.btn-invest-speed-text{ position: absolute; z-index: 3; right: 5px; top: 0; text-align: center; line-height: 40px; font-size: 12px; color: #fff; }

/* 红包统计 */
.hongbao-statistical{ overflow: hidden; background-color: #fff;  padding: 10px; }
.hongbao-statistical li{ float: left; width: 49.5%; padding: 5px 0; }
.hongbao-statistical li:last-child{ border-left: 1px solid #eaeaea; }
.hongbao-statistical li span{ color: #d0d0d0; display: block; line-height: 24px; text-align: center; }
.hongbao-statistical li span.text-primary{ font-size: 16px; color: #f0494f; }
.login-forgot-password{ width: 90%; text-align: right; margin-right: auto; margin-left: auto; }

/* 邀请好友 */
.recommend-friends{ overflow: hidden; background-color: #fff; border-bottom: 1px solid #eaeaea; margin: 0 auto; padding: 25px; _zoom:1}
.recommend-friends img{ float: left; width: 80px; }
.recommend-friends ul{ float: left;  padding:25px 0 0 25px;}
.recommend-friends ul li{ font-size: 16px; padding-top: 5px;}
.recommend-friends ul li label{ display: inline-block; text-align: right; color: #959595; }
.recommend-friends ul li span{color: #333}
.invite-links{ padding-top: 10px; }
.invite-links-title{ padding: 0 10px; font-size: 16px; color: #c7c7cd; }
.invite-links .ui-form-item .btn-primary{ padding: 3px 5px;  font-size: 14px; }
.invite-links-qrcode{ padding: 20px 0; text-align: center; }
.invite-links-qrcode p{ font-size: 16px;  color: #666; }

/* 银行卡管理 */
.manage-bank-card .ui-form-item{ font-size: 14px; }
.manage-bank-card .btn-primary{ padding: 3px 5px; font-size: 14px; }
.manage-bank-card-title{ padding: 15px 10px 0;  font-size: 16px; color: #666; }

/* 账户 */
.user-amount{ text-align: center; padding: 15px 10px; }
.account-amount{ font-size: 16px; }
.account-amount span{ font-size: 22px; color: #f0494f; }
.available-balance{ font-size: 14px; color: #d0d0d0; }
.available-balance span{ font-size: 18px; color: #f0494f; }
.user-money,.user-amount{ margin-bottom: 10px; overflow: hidden; background-color: #fff; border-top: 1px solid #eaeaea;  border-bottom: 1px solid #eaeaea; }
.user-money-item{ width: 50%; padding-top: 20px; padding-bottom: 20px; float: left; margin-left: -1px; border-left: 1px dashed #eaeaea; border-bottom: 1px dashed #eaeaea;}
.user-money-item.no-border{ border-bottom: none; }
.user-money-item span{ display: block; text-align: center;  }
.user-money-title{  position: relative; height: 25px; font-size: 14px; color: #d0d0d0;  }
.user-money-value{ color: #f0494f; font-size: 16px; }

/* 用户导航 */
.user-nav{ font-size: 14px; background-color: #fff; border-top: 1px solid #eaeaea; }
.user-nav-item{ border-bottom: 1px solid #eaeaea; }
.user-nav-main{ height: 43px; overflow: hidden; line-height: 43px; padding: 0 10px; }
.ico-user-nav{ display: inline-block; vertical-align: middle; width: 20px; height: 20px;  background-color: red; margin-right: 5px; }
.user-nav-main label,.user-subnav-item label{ float: left; }
.user-nav-main span,.user-subnav-item span{ float: right; }
.user-subnav{ display: none; background-color: #f7f7f7; padding-left: 35px; padding-right: 10px; border-top: 1px solid #eaeaea; }
.user-subnav-item{ display: block; height: 43px; line-height: 43px; border-bottom: 1px dashed #eaeaea; }
.user-subnav-item:last-child{ border-bottom: 0; }

.user-nav-show .user-nav-main{ background-color: #f0494f; color: #fff; }
.user-nav-show .user-nav-main span{ display: none; }
.user-nav-show .ico-user-nav{ background-color: #fff; }
.user-nav-show .user-subnav{ display: block; }

@media (min-width: 620px){
.manage-bank-card .ui-form-item{ font-size: 16px; }
.ui-table-data th,.ui-table-data td{ padding: 12px 5px; }
}