<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>周年庆</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/assets/dist/css/mobile.css">
    <link rel="stylesheet" href="/assets/dist/topic/birthday/style/style.css">
</head>
<body>
	<div class="banner">
		<img src="/assets/dist/topic/birthday/images/banner.jpg">
	</div>
	<div class="main">
		<i class="floor1-figure"><img src="/assets/dist/topic/birthday/images/floor01_figure.png"></i>
		<div class="gift-box floor1">
			<h3 class="title"><i>01</i><span>密</span></h3>
			<a href="###" class="btn-explain" id="get-explain"><i><img src="/assets/dist/topic/birthday/images/icon_ask.png"></i>领奖说明</a>
			<div class="info secrecy ">
				<p>客官，金币银币已备下，我们18号见</p>
				<div class="gift1-right-pic"><img src="/assets/dist/topic/birthday/images/gift1_pic_gold_show.jpg"></div>
			</div>
			<div class="info begin ">
				<p>祺友在2016年1月18日购买祺天优贷任意理财产品（除新手标外），投资额满20万获1枚金币，限前50名；满1万可获1枚银币，限前500名。</p>
				<a href="" class="btn-primary mt10">我要金币</a>
				<div class="gift1-right-pic"><img src="/assets/dist/topic/birthday/images/gift1_pic_gold_show.jpg"></div>
			</div>

			<div class="info get ">
				<p>恭喜您获得1枚金币。快去<a href="">确认收货地址</a></p>
				<a href="" class="btn-primary mt5">确认收货地址</a>
				<div class="gift1-right-pic"><img src="/assets/dist/topic/birthday/images/gift1_pic_get_gold.png"></div> <!-- gift1_pic_get_silver.png -->
			</div>

			<div class="info result ">
				<p>活动结束了呢，更多活动请关注微信公众号“QTYD”。</p>
			</div>
		</div>
		<div class="gift-box floor2">
			<h3 class="title"><i>02</i><span>在一起</span></h3>
			<div class="info">
				<a href="###" class="btn-explain" id="reward-split"><i><img src="/assets/dist/topic/birthday/images/icon_ask.png"></i>领奖说明</a>
				<p class="info-txt">祺友在2016年1月1日-1月19日参与“我和小祺的快乐生活”话题活动，通过“小祺推荐”的祺友将获得1枚银币。此外，小祺将在所有参与者中选取最有情怀的，送出1枚金币。</p>
				<p class="info-tips"><i class="icon-tips">*</i>Tip：该活动仅限2015年注册用户参加。</p>
				<div class="gift-form">
					<i><img src="/assets/dist/topic/birthday/images/icon_pen.png"></i>
					<input type="" placeholder="#我和小祺的快乐生活#">
					<button type="button">发布</button>
				</div>
				<div class="qtyd-recommend">
					<h3>小祺推荐</h3>
					<div class="qtyd-recommend-info">
						<p class="tips hidden">还没有推荐的呢，小祺等您呦~~</p>
						<dl>
							<dt>【恭喜#昵称#获得1枚金币】<em>1月19日  8:16</em><i class="optimal"></i><a href="list.html" class="more">查看更多&gt;&gt;</a></dt>
							<dd class="ellipsis">我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<div class="gift-box floor3">
			<h3 class="title"><i>03</i><span>密</span></h3>
			<a href="###" class="btn-explain" id="reward-explain"><i><img src="/assets/dist/topic/birthday/images/icon_ask.png"></i>红包说明</a>
			<!-- 未开始 -->
			<div class="info secrecy">
				<p>1月18日揭开神秘面纱</p>
				<div class="gift3-right-pic"><img src="/assets/dist/topic/birthday/images/gift3_pic_secrecy.png"></div>
			</div>
			<!-- 进行中未投资 -->
			<div class="info begin ">
				<p>祺友在2016年1月18日购买祺天优贷任意理财产品（除新手标外），可获得1份快乐红包。</p>
				<a href="" class="btn-primary mt10">我要红包</a>
				<div class="gift3-right-pic"><img src="/assets/dist/topic/birthday/images/gift3_pic_begin.png"></div>
			</div>
			<!-- 进行中已领取红包 -->
			<div class="info get ">
				<p>快来喊小伙伴扫描二维码，帮忙拆红包！</p>
				<div class="gift3-right-pic"><img src="/assets/dist/topic/birthday/images/gift3_pic_get.png"></div>
			</div>
			<!-- 邀好友赚红包 -->
			<div class="info get ">
				<p>已获得18元红包，快邀请好友赚红包！</p>
				<div class="gift3-right-pic"><img src="/assets/dist/topic/birthday/images/gift3_pic_get.png"></div>
			</div>
			<!-- 结束 -->
			<div class="info get ">
				<p>活动结束了呢，错过了金/银币呦~~</p>
				<div class="gift3-right-pic"><img src="/assets/dist/topic/birthday/images/gift3_pic_get.png"></div>
			</div>
		</div>
		<div class="gift-box floor4">
			<h3 class="title"><i>04</i><span>金妹银妹长这样</span></h3>
			<div class="info ellipsis" id="look-gold">
				<p><span>#诞生记#</span>每个人都有一两件值得珍藏的物件，一年时光，一年相伴，小祺总想为您做点什么。征集图案设计、认真筛选合作商家、用心挑选礼盒包装，真材实料，充满情怀，金妹银妹诞生了！一年时光飞逝，还好有她见证您我相遇！</p>
				<p><span>#成长记#</span>每个人的身边都会发生许多事，或欢喜或悲伤或绚烂或孤独，或是为了身边的人，或是为了寻找真实的自己！不对困难挫折低头，不怕攀登高峰的付出，态度决定成长的高度！一年时光飞逝，我们很快乐，我们在成长！</p>
				<p><span>#周年记#</span>5g圆形纪念金币，直径20mm，成色99.9%，正面为祺天优贷主题图案，背面为快乐理财1周年主题图案。10g圆形纪念银币，直径30mm，成色99.9%，正面为祺天优贷主题图案，背面为携手前行主题图案，一年时光飞逝，比钱更值钱的周年礼品纪念币，臻享予您！</p>
				<p><span>#小祺说#</span>每个人心中都有一个财富梦想，还在烦恼收益走低？担心P2P不稳定？嘿，来小祺这看看吧，当您熟悉小祺后，恭喜您，离梦想又近了一步！一年时光飞逝，财富梦想不流逝！</p>
			</div>
			<a href="###" class="btn-more tar">查看全文>></a>
		</div>
	</div>

	<script src="../../../lib/sea.js"></script>
	<script>seajs.use("page/mobile/topic/birthday")</script>
</body>
</html>