<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>周年庆</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/assets/dist/css/mobile.css">
    <link rel="stylesheet" href="style/style.css" />
    <style>
    html,body{ background-color: #fff; }
    </style>
</head>
<body>
	<div id="page">
		<header id="header">
	        <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
	        <h1 class="primary-title">小祺推荐</h1>
	    </header>
	    <div id="body">
	    	<div class="qtyd-recommend-info qtyd-recommend-list">
				<dl>
					<dt>【恭喜#昵称#获得1枚金币】<em>1月19日  8:16</em><i class="optimal"></i></dt>
					<dd>我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字</dd>
				</dl>
				<dl>
					<dt>【恭喜#昵称#获得1枚金币】<em>1月19日  8:16</em></dt>
					<dd>我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字</dd>
				</dl>
				<dl>
					<dt>【恭喜#昵称#获得1枚金币】<em>1月19日  8:16</em></dt>
					<dd>我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字</dd>
				</dl>
				<dl>
					<dt>【恭喜#昵称#获得1枚金币】<em>1月19日  8:16</em></dt>
					<dd>我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字</dd>
				</dl>
				<dl>
					<dt>【恭喜#昵称#获得1枚金币】<em>1月19日  8:16</em></dt>
					<dd>我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字</dd>
				</dl>
				<dl>
					<dt>【恭喜#昵称#获得1枚金币】<em>1月19日  8:16</em></dt>
					<dd>我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字我是用户最后提交的字, 我是用户最后提交的字</dd>
				</dl>
	    	</div>
	    </div>
	</div>

	<script src="../../../lib/sea.js"></script>
	<script>seajs.use("page/mobile/topic/birthday")</script>
</body>
</html>