<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-用户中心</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">账户总额</h1>
            <!-- <span class="icon-primary-nav qtydfont" id="icon-primary-nav">&#xe603;</span>
            <nav class="primary-nav-group">
                <a href="main.html"><i class="qtydfont">&#xe60d;</i>账户管理</a>
                <a href="recharge.html"><i class="qtydfont">&#xe613;</i>充值</a>
                <a href="bank.html"><i class="qtydfont">&#xe607;</i>银行卡</a>
                <a href=""><i class="qtydfont">&#xe600;</i>我的交易</a>
                <a href=""><i class="qtydfont">&#xe612;</i>邀请好友</a>
                <a href=""><i class="qtydfont">&#xe618;</i>安全退出</a>
            </nav> -->
        </header>
        <div id="body" class="be-tool ft14">
            <div class="form-group pt15">
                <div class="form-item-group">
                    <label class="form-label">账户总额</label><span class="form-value c-999 tar"><em class="c-666 hwxh">5464654.00</em> 元</span>
                </div>
            </div>
            <div class="form-head ft12 c-999">以下为明细</div>
            <div class="form-many-group">
                <div class="form-many-item"><label class="form-label">存钱罐余额</label><span class="form-value c-999 tar"><em class="c-666 hwxh">464654.00</em> 元</span>
                    <div class="ft12"><label class="form-label c-999">冻结金额</label><span class="form-value c-999 tar"><em class="c-666 hwxh c-999">11.00</em> 元</span></div>
                    <div class="ft12"><label class="form-label c-999">可用余额</label><span class="form-value c-999 tar"><em class="c-666 hwxh c-999">11.00</em> 元</span></div>
                </div>
                <div class="form-many-item"><label class="form-label">待收本金</label><span class="form-value c-999 tar"><em class="c-666 hwxh">12312</em> 元</span></div>
                <div class="form-many-item"><label class="form-label">待收利息</label><span class="form-value c-999 tar"><em class="c-666 hwxh">1112</em> 元</span></div>
                <div class="form-many-item"><label class="form-label">可用红包</label><span class="form-value c-999 tar"><em class="c-666 hwxh">28</em> 元</span></div>
            </div>

        </div>

        <div class="navfixed hide">
            <ul>
                <li>
                    <a href="../home.html">
                        <i class="qtydfont home">&#xe604;</i>
                        <span class="ui-navbar-label">首 页</span>
                    </a>
                </li>
                <li>
                    <a href="../invest.html">
                        <i class="qtydfont invest">&#xe661;</i>
                        <span class="ui-navbar-label">投 资</span>
                    </a>
                </li>
                <li>
                    <a href="../invest.html">
                        <i class="qtydfont invest">&#xe656;</i>
                        <span class="ui-navbar-label">活 动</span>
                    </a>
                </li>
                <li>
                    <a href="main.html" class="current">
                        <i class="qtydfont member">&#xe60d;</i>
                        <span class="ui-navbar-label">账 户</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<script src="../../../lib/sea.js"></script>
<script>seajs.use("page/mobile/member/main.js")</script>
</body>
</html>