<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-联系地址</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">联系地址</h1>
            <a href="address-add.html" class="a-right-link"><i class="qtydfont">&#xe62d;</i></a>
        </header>
        <div id="body">
            <div class="address-list">
                <!--  bank-list-name  默认为安全卡  添加 quick 为 快捷卡  -->
                <a href="address-edit.html" class="address-item">
                    <h3>歐陽瘋<span class="ml10 c-666">1888****888</span></h3>
                    <p><span class="mr5 c-success">默认</span>浙江省杭州市西湖区浙商财富中心2号楼409</p>
                    <span class="form-more qtydfont">&#xe628;</span>
                </a>
                <a href="address-edit.html" class="address-item">
                    <h3>祺天优贷<span class="ml10 c-666">1888****888</span></h3>
                    <p>浙江省杭州市西湖区浙商财富中心2号楼409</p>
                    <span class="form-more qtydfont">&#xe628;</span>
                </a>
            </div>
            <a href="address-add.html" class="bank-add">
                <i class="bank-list-logo qtydfont">&#xe616;</i>
                <h3 class="bank-list-name">添加联系地址</h3>
                <p class="c-999 mt5">用于寄送礼品</p>
            </a>

            <div class="mt40 tac c-success ft12"><i class="qtydfont ft16 mr5">&#xe615;</i>账户资金由新浪支付全程托管，工商银行监管</div>
        </div>
    </div>
<script src="../../../lib/sea.js"></script>
<script>seajs.use("page/mobile/member/address.js")</script>
</body>
</html>