<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-银行卡列表</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">银行卡列表</h1>
            <a href="bank-add.html" class="a-right-link"><i class="qtydfont">&#xe62d;</i></a>

        </header>
        <div id="body">
            <article class="bank-list">
                <!--  bank-list-name  默认为安全卡  添加 quick 为 快捷卡  -->
                <section class="bank-list-item">
                    <i class="bank-list-logo qtydfont">&#xe649;</i>
                    <h3 class="bank-list-name safety-card">招商银行</h3>
                    <p class="bank-list-number">尾号3123</p>
                    <span class="btn-delete qtydfont" id="j-card-delete">&#xe66b;</span>
                </section>
                <section class="bank-list-item">
                    <i class="bank-list-logo qtydfont">&#xe64d;</i>
                    <h3 class="bank-list-name quick-card">农业银行</h3>
                    <p class="bank-list-number">尾号3123</p>
                    <span class="btn-delete qtydfont" id="j-card-delete">&#xe66b;</span>
                </section>
                <section class="bank-list-item">
                    <i class="bank-list-logo qtydfont">&#xe650;</i>
                    <h3 class="bank-list-name ">中国银行</h3>
                    <p class="bank-list-number">尾号3123</p>
                    <a href="" class="btn-primary">开通快捷支付</a>
                    <span class="btn-delete qtydfont" id="j-card-delete">&#xe66b;</span>
                </section>
            </article>
            <a href="bank-add.html" class="bank-add">
                <i class="bank-list-logo qtydfont">&#xe616;</i>
                <h3 class="bank-list-name">添加银行卡</h3>
            </a>

            <div class="mt40 tac c-success ft12"><i class="qtydfont ft16 mr5">&#xe615;</i>账户资金由新浪支付全程托管，工商银行监管</div>
        </div>
        <div class="navfixed">
            <ul>
                <li>
                    <a href="../home.html">
                        <i class="qtydfont home">&#xe604;</i>
                        <span class="ui-navbar-label">首 页</span>
                    </a>
                </li>
                <li>
                    <a href="../invest.html">
                        <i class="qtydfont invest">&#xe661;</i>
                        <span class="ui-navbar-label">投 资</span>
                    </a>
                </li>
                <li>
                    <a href="../invest.html">
                        <i class="qtydfont invest">&#xe656;</i>
                        <span class="ui-navbar-label">活 动</span>
                    </a>
                </li>
                <li>
                    <a href="main.html" class="current">
                        <i class="qtydfont member">&#xe60d;</i>
                        <span class="ui-navbar-label">账 户</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<script src="../../../lib/sea.js"></script>
<script>seajs.use("page/mobile/member/bank.js")</script>
</body>
</html>