<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-用户中心</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">联系我们</h1>
        </header>
        <div id="body">

            <div class="about-group">
                <div class="about-item"><label><i class="qtydfont c">&#xe654;</i>服务热线</label><span>400-720-1188</span></div>
                <div class="about-item"><label><i class="qtydfont d">&#xe65c;</i>微信公众号</label><span>QTYD</span></div>
            </div>

            <div class="about-group">
                <div class="about-item"><label><i class="qtydfont e">&#xe65b;</i>客服QQ</label><span>4007201188</span></div>
                <div class="about-item"><label><i class="qtydfont f">&#xe65f;</i>客服邮箱</label><span>kefu@qtyd.com</span></div>
            </div>

            <div class="about-group">
                <div class="about-item"><label><i class="qtydfont g">&#xe601;</i>公司网址</label><span>www.qtyd.com</span></div>
                <div class="about-item"><label><i class="qtydfont h">&#xe65d;</i>公司地址</label><span>杭州市西湖区古墩路浙商财富中心2号楼409</span></div>
            </div>

        </div>
    </div>
<script src="../../../lib/sea.js"></script>

</body>
</html>