<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-用户充值</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css?q22123">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <a href="" class="a-left-link hide">注册</a>
            <h1 class="primary-title">表单</h1>
            <span class="icon-primary-nav qtydfont" id="icon-primary-nav">&#xe603;</span>
            <nav class="primary-nav-group">
                <a href="main.html"><i class="qtydfont">&#xe60d;</i>账户管理</a>
                <a href="recharge.html"><i class="qtydfont">&#xe613;</i>充值</a>
                <a href="bank.html"><i class="qtydfont">&#xe607;</i>银行卡</a>
                <a href=""><i class="qtydfont">&#xe600;</i>我的交易</a>
                <a href=""><i class="qtydfont">&#xe612;</i>邀请好友</a>
                <a href=""><i class="qtydfont">&#xe618;</i>安全退出</a>
            </nav>
        </header>
        <div id="body">
            <form class="form">
                <div class="form-head">表单标题</div>
                <div class="bank-card-group">
                    <section class="bank-list-item">
                        <i class="bank-list-logo qtydfont">&#xe649;</i>
                        <h3 class="bank-list-name">招商银行<i class="card-type">安全卡</i></h3>
                        <p class="bank-list-number">尾号3123</p>
                        <span id="j-bank-list-more" class="bank-list-more qtydfont"></span>
                    </section>
                </div>
                <div class="form-group">
                    <div class="form-head">表单标题</div>
                    <div class="form-item"><input type="text" class="ui-input-text" placeholder="占位符" ><span class="form-clear "><i class="qtydfont">&#xe63f;</i></span></div>
                    <div class="form-tips c-999">文本提示</div>
                </div>
                <div class="form-group">
                    <div class="form-item">
                        <span class="ui-select">
                            <select>
                                <option value="">请选择银行</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="ui-select-account cl">
                        <span class="ui-select">
                            <select>
                                <option value="">请选择开户省份</option>
                            </select>
                        </span>
                        <span class="ui-select">
                            <select>
                                <option value="">请选择开户市区</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="ui-select-region cl">
                        <span class="ui-select">
                            <select>
                                <option value="">请选择省份</option>
                            </select>
                        </span>
                        <span class="ui-select">
                            <select>
                                <option value="">请选择市</option>
                            </select>
                        </span>
                        <span class="ui-select">
                            <select>
                                <option value="">请选择区</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-item"><input type="text" class="ui-input-text" placeholder="占位符" ><button class="btn-captcha">获取验证码</button></div>
                </div>
                <div class="form-group">
                    <div class="form-item"><input type="text" class="ui-input-text" placeholder="占位符" ><button class="btn-captcha disabled">获取验证码</button></div>
                </div>
                <div class="form-group">
                    <div class="form-item-group"><label class="form-label">验证码</label><input type="text" class="ui-input-text" placeholder="占位符" ><button class="btn-captcha disabled">获取验证码</button></div>
                </div>
                <div class="form-group">
                    <div class="form-head">表单标题</div>
                    <div class="form-item-group"><label class="form-label">到账时间</label><input type="text" class="ui-input-text" placeholder="占位符" ></div>
                    <div class="form-tips c-999">文本提示</div>
                </div>
                <div class="form-many-group">
                    <div class="form-many-item"><label class="form-label">预计到账时间</label><span class="form-value c-999 tar">2015年5月19日24点 前</span></div>
                    <div class="form-many-item"><label class="form-label">可提余额</label><span class="form-value c-999 tar">19545 元</span></div>
                </div>

                <div class="form-group protocol">
                    <input type="checkbox">
                    <label>我已阅读并同意<a href="javascript:;" id="j-protocol" class="c-secondary">祺天优贷服务协议</a></label>
                </div>
                <div class="form-btn">
                    <button class="btn-primary">立即充值</button>
                </div>
                <div class="form-btn">
                    <button class="btn-primary disabled">立即充值</button>
                </div>
            </form>
            <!-- <div class="form">
                <div class="form-title">表单标题</div>
                <div class="form-item">
                    <span class="form-select">
                        <select>
                            <option value="">请选择银行</option>
                        </select>
                    </span>
                    <p class="form-tips hide">请选择您的银行</p>
                </div>
                <div class="form-item">
                    <div class="form-select-account">
                        <span class="form-select">
                            <select>
                                <option value="">请选择开户省份</option>
                            </select>
                        </span>
                        <span class="form-select">
                            <select>
                                <option value="">请选择开户市区</option>
                            </select>
                        </span>
                    </div>
                    <p class="form-tips error">提示</p>
                </div>
                <div class="form-item">
                    <div class="form-select-region">
                        <span class="form-select">
                            <select>
                                <option value="">请选择省份</option>
                            </select>
                        </span>
                        <span class="form-select">
                            <select>
                                <option value="">请选择市</option>
                            </select>
                        </span>
                        <span class="form-select">
                            <select>
                                <option value="">请选择区</option>
                            </select>
                        </span>
                    </div>
                    <p class="form-tips error">提示</p>
                </div>
                <div class="form-item">
                    <input type="text" placeholder="充值金额" maxlength="7" class="form-input">
                    <p class="form-tips">金额必须为整数或小数，小数点不超过2位</p>
                </div>
                <div class="form-item">
                    <input type="text" placeholder="提示" maxlength="7" class="form-input">
                    <p class="form-tips error">错误提示</p>
                </div>
                <div class="form-item captcha">
                    <input type="text" placeholder="银行卡号" maxlength="19" class="form-input">
                    <button class="btn-primary captcha">获取验证码</button>
                    <p class="form-tips hide">提示</p>
                </div>
                <div class="form-item captcha">
                    <input type="text" placeholder="银行卡号" class="form-input">
                    <button class="btn-primary captcha disabled">验证码已发送</button>
                    <p class="form-tips hide">提示</p>
                </div>
                <div class="form-item protocol">
                    <input type="checkbox">
                    <label>我已阅读并同意<a href="javascript:;" id="j-protocol" class="c-secondary">祺天优贷服务协议</a></label>
                </div>
                <div class="form-btn">
                    <button class="btn-primary">立即充值</button>
                </div>
            </div>-->
        </div>

        <div class="navbar hide">
            <ul>
                <li>
                    <a href="">
                        <i class="qtydfont home">&#xe604;</i>
                        <span class="ui-navbar-label">首 页</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="qtydfont invest">&#xe661;</i>
                        <span class="ui-navbar-label">投 资</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="qtydfont activity">&#xe62c;</i>
                        <span class="ui-navbar-label">活 动</span>
                    </a>
                </li>
                <li>
                    <a href="" class="current">
                        <i class="qtydfont member">&#xe60d;</i>
                        <span class="ui-navbar-label">账 户</span>
                    </a>
                </li>
            </ul>
        </div>
        <footer id="footer">

        </footer>
    </div>
<script src="../../../lib/sea.js"></script>
<script>seajs.use("page/mobile/member/addbank.js")</script>
</body>
</html>