<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" href="/assets/dist/css/mobile.css">
	<link rel="stylesheet" href="/assets/dist/css/integral.css">
</head>
<body>
	<div id="m">
		<header id="header">
			<a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
			<h1 class="primary-title" id="j-project-nav">积分记录</h1>
			<nav class="project-nav">
				<a data="0" href="/phone/borrow/borrow_list?borrow_type=0" class="current">全部项目</a>
				<a data="1" href="/phone/borrow/borrow_list?borrow_type=1">新手标</a>
				<a data="246" href="/phone/borrow/borrow_list?borrow_type=246">新车贷</a>
				<a data="245" href="/phone/borrow/borrow_list?borrow_type=245">祺天车贷</a>
				<a data="247" href="/phone/borrow/borrow_list?borrow_type=247">祺天房贷</a>
				<a data="247" href="/phone/borrow/borrow_list?borrow_type=565">票据贷</a>
			</nav>
			<span class="icon-primary-nav qtydfont" id="icon-primary-nav">&#xe603;</span>
			<nav class="primary-nav-group">
				<a href="/phone/welcome"> <i class="qtydfont"></i>
					首页
				</a>
				<a href="/phone/user/login.html">
					<i class="qtydfont"></i>
					登录
				</a>
				<a href="/phone/user/reg/">
					<i class="qtydfont"></i>
					注册
				</a>
				<a id="nav_calc" href="javascript:void(0);">
					<i class="qtydfont"></i>
					收益计算器
				</a>
			</nav>
		</header>
		<div id="body">
			<ul class="integral-total">
				<li><span>58693</span><em>当前可用积分</em></li>
				<li><span>5632</span><em>12月28日即将过期积分</em></li>
			</ul>
			<div class="tabfixed">
			    <ul class="tabfixed-two">
			        <li class="current">
			            <a href="">三个月</a></li>
			        <li>
			            <a href="">一年</a></li>
			    </ul>
			</div>
			<div class="integral-list">
				<div class="integral-list-group">
					<h3 class="integral-list-head">2016-11</h3>
					<article class="integral-list-body">
						<section class="integral-list-item">
							<dl>
								<dt>邀请好友注册认证</dt>
								<dd>2016.11.25 15:02:16</dd>
							</dl>
							<span>+200</span>
						</section>
						<section class="integral-list-item">
							<dl>
								<dt>邀请好友注册认证</dt>
								<dd>2016.11.25 15:02:16</dd>
							</dl>
							<span>+200</span>
						</section>
						<section class="integral-list-item">
							<dl>
								<dt>邀请好友注册认证</dt>
								<dd>2016.11.25 15:02:16</dd>
							</dl>
							<span>+200</span>
						</section>
					</article>
				</div>
				<div class="integral-list-group">
					<h3 class="integral-list-head">2016-11</h3>
					<article class="integral-list-body">
						<section class="integral-list-item">
							<dl>
								<dt>邀请好友注册认证</dt>
								<dd>2016.11.25 15:02:16</dd>
							</dl>
							<span>+200</span>
						</section>
						<section class="integral-list-item">
							<dl>
								<dt>邀请好友注册认证</dt>
								<dd>2016.11.25 15:02:16</dd>
							</dl>
							<span>+200</span>
						</section>
						<section class="integral-list-item">
							<dl>
								<dt>邀请好友注册认证</dt>
								<dd>2016.11.25 15:02:16</dd>
							</dl>
							<span>+200</span>
						</section>
					</article>
				</div>
			</div>
			<script type="text/javascript" src="/assets/dist/lib/sea.js"></script>
			<script>seajs.use("page/mobile/integral")</script>
		</div>
	</div>
</body>
</html>