<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-用户中心</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <a href="../register.html" class="a-left-link hide">注册</a>
            <h1 class="primary-title">账户</h1>
            <span class="icon-primary-nav qtydfont" id="icon-primary-nav">&#xe603;</span>
            <nav class="primary-nav-group">
                <a href="main.html"><i class="qtydfont">&#xe60d;</i>账户管理</a>
                <a href="recharge.html"><i class="qtydfont">&#xe613;</i>充值</a>
                <a href="bank.html"><i class="qtydfont">&#xe607;</i>银行卡</a>
                <a href=""><i class="qtydfont">&#xe600;</i>我的交易</a>
                <a href=""><i class="qtydfont">&#xe612;</i>邀请好友</a>
                <a href=""><i class="qtydfont">&#xe618;</i>安全退出</a>
            </nav>
        </header>
        <div id="body">
            <a href="safety.html" class="user-info">
                <div class="user-avater"><i class="qtydfont">&#xe619;</i></div>
                <div class="user-integral">
                    <p>成长值：<span class="c-red">2010</span></p>
                    <p>可用积分：<span class="c-green">5000</span></p>
                </div>
                <i class="total-more qtydfont">&#xe628;</i>
                <!-- <div class="user-safety">
                    <div class="user-safety-progress">
                        <i class="user-safety-progress-bar" style="width:90%;"></i>
                    </div>
                    <span class="user-safety-title">安全等级：低</span>
                </div> -->
                <div class="user-base">
                    <p class="user-name">歐陽瘋</p>
                    <p class="user-phone hwxh">18888888888</p>
                </div>
            </a>

            <div class="total sina-pay-sum">
                <dl>
                    <dt>存钱罐可用余额<span>(元)</span></dt>
                    <dd class="hwxh ft35 c-primary">698.65</dd>
                </dl>
                <span class="total-earning">累计收益：<span class="hwxh c-primary ft16">698.65</span> 元</span>
                <!-- <span id="j-total-rate" class="total-rate">16.56%<i class="qtydfont">&#xe644;</i></span> -->
            </div>

            <a href="account-total.html" class="total total-amount">
                <dl>
                    <dt>账户总额<span>(元)</span></dt>
                    <dd class="hwxh ft25 c-primary">5586950.65</dd>
                </dl>
                <i class="total-more qtydfont">&#xe628;</i>
            </a>

            <nav class="member-nav">
                <a href="invite.html" class="member-nav-item"><i class="qtydfont">&#xe612;</i><span>邀请好友</span></a>
                <a href="reward.html" class="member-nav-item"><i class="qtydfont">&#xe60c;</i><span>红包</span></a>
                <a href="coupon.html" class="member-nav-item"><i class="qtydfont">&#xe60b;</i><span>年化券</span></a>
                <a href="safety.html" class="member-nav-item"><i class="qtydfont">&#xe615;</i><span>安全中心</span></a>
                <a href="sinapay-open.html" class="member-nav-item"><i class="qtydfont">&#xe653;</i><span>存钱罐</span></a>
                <a href="recharge.html" class="member-nav-item activity"><i class="qtydfont">&#xe613;</i><span>充值</span></a>
                <a href="cash.html" class="member-nav-item"><i class="qtydfont">&#xe60f;</i><span>提现</span></a>
                <!-- <a href="javascript:;" class="member-nav-item"><i class="qtydfont">&#xe614;</i><span>还款日历</span></a> -->
                <a href="bank-list.html" class="member-nav-item"><i class="qtydfont">&#xe607;</i><span>银行卡</span></a>
                <a href="invest-trade.html" class="member-nav-item"><i class="qtydfont">&#xe600;</i><span>投资记录</span></a>
                <a href="trade-log.html" class="member-nav-item"><i class="qtydfont">&#xe61a;</i><span>交易记录</span></a>
                <a href="novice-packs.html" class="member-nav-item novice-packs-nav"><i class="qtydfont">&#xe672;</i><span>新手大礼包</span></a>
                <a href="about.html" class="member-nav-item"><i class="qtydfont">&#xe60a;</i><span>更多</span></a>
            </nav>
        </div>

        <div class="navfixed">
            <ul>
                <li>
                    <a href="../home.html">
                        <i class="qtydfont home">&#xe604;</i>
                        <span class="ui-navbar-label">首 页</span>
                    </a>
                </li>
                <li>
                    <a href="../invest.html">
                        <i class="qtydfont invest">&#xe661;</i>
                        <span class="ui-navbar-label">投 资</span>
                    </a>
                </li>
                <li>
                    <a href="../invest.html">
                        <i class="qtydfont invest">&#xe656;</i>
                        <span class="ui-navbar-label">活 动</span>
                    </a>
                </li>
                <li>
                    <a href="main.html">
                        <i class="qtydfont member">&#xe60a;</i>
                        <span class="ui-navbar-label">更 多</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<script src="../../../lib/sea.js"></script>
<script>seajs.use("page/mobile/member/main.js")</script>
</body>
</html>