<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-用户中心</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">更多</h1>
        </header>
        <div id="body">
            <div class="version">
                <i class="qtydfont">&#xe604;</i>
                <p>版本 1.0.0</p>
            </div>

            <div class="about-group">
                <a href="../notice.html" class="about-item"><i class="qtydfont b">&#xe664;</i>官方公告</a>
                <a href="../media.html" class="about-item"><i class="qtydfont a">&#xe665;</i>媒体报道</a>
                <a href="about.html" class="about-item"><i class="qtydfont c">&#xe65e;</i>公司简介</a>
                <a href="contact.html" class="about-item"><i class="qtydfont d">&#xe660;</i>联系我们</a>
            </div>

        </div>
    </div>
<script src="../../../lib/sea.js"></script>

</body>
</html>