<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-用户中心-我的资料</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">我的资料</h1>
            <a href="address-add.html" class="a-right-link">编辑</a>
        </header>
        <div id="body">
            <div  class="my-info">
                <div class="form-many-group">
                    <div class="form-many-item avatar"><label class="form-label">头像</label><span class="form-value c-999 tar"><img src="https://qtyd.oss-cn-hangzhou.aliyuncs.com/upload/image/2015/12/31/br143817yi7g.jpg" class="avatar-pic" alt=""><input type="file" class="input-file"></span></div>
                    <div class="form-many-item"><label class="form-label">昵称</label><span class="form-value c-999 tar">歐陽瘋</span></div>
                </div>

                <div class="form-many-group">
                    <div class="form-many-item"><label class="form-label">月收入</label><span class="form-value c-999 tar">2000-3000</span></div>
                    <div class="form-many-item"><label class="form-label">最高学历</label><span class="form-value c-999 tar">小学</span></div>
                    <div class="form-many-item"><label class="form-label">职业类型</label><span class="form-value c-999 tar">挨踢</span></div>
                    <div class="form-many-item"><label class="form-label">婚姻状况</label><span class="form-value c-999 tar">未婚</span></div>
                    <div class="form-many-item"><label class="form-label">有无子女</label><span class="form-value c-999 tar">无</span></div>
                </div>

                <div class="form-many-group">
                    <div class="form-many-item"><label class="form-label">紧急联系人姓名</label><span class="form-value c-999 tar">歐陽瘋</span></div>
                    <div class="form-many-item"><label class="form-label">紧急联系人手机</label><span class="form-value c-999 tar">18888888888</span></div>
                    <div class="form-many-item"><label class="form-label">养老保险</label><span class="form-value c-999 tar">有</span></div>
                    <div class="form-many-item"><label class="form-label">人寿保险</label><span class="form-value c-999 tar">无</span></div>
                    <div class="form-many-item"><label class="form-label">证件地址</label><span class="form-value c-999 tar">杭州市西湖区古墩路702号赞宇大厦16楼</span></div>
                    <div class="form-many-item"><label class="form-label">居住地址</label><span class="form-value c-999 tar">杭州市西湖区古墩路702号赞宇大厦16楼杭州市西湖区古墩路702号赞宇大厦16楼</span></div>
                </div>
            </div>
        </div>
    </div>
<script src="../../../lib/sea.js"></script>

</body>
</html>