<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-更多导航</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <a href="../register.html" class="a-left-link hide">注册</a>
            <h1 class="primary-title">更多导航</h1>
            <span class="icon-primary-nav qtydfont" id="icon-primary-nav">&#xe603;</span>
            <nav class="primary-nav-group">
                <a href="main.html"><i class="qtydfont">&#xe60d;</i>账户管理</a>
                <a href="recharge.html"><i class="qtydfont">&#xe613;</i>充值</a>
                <a href="bank.html"><i class="qtydfont">&#xe607;</i>银行卡</a>
                <a href=""><i class="qtydfont">&#xe600;</i>我的交易</a>
                <a href=""><i class="qtydfont">&#xe612;</i>邀请好友</a>
                <a href=""><i class="qtydfont">&#xe618;</i>安全退出</a>
            </nav>
        </header>
        <div id="body" class="be-tool">
            <nav class="member-nav">
                <a href="javascript:;"><i class="qtydfont">&#xe61a;</i><span>交易记录</span></a>
                <a href="javascript:;" id="j-recharge" class="activity"><i class="qtydfont">&#xe613;</i><span>充 值</span></a>
                <a href="cash.html"><i class="qtydfont">&#xe60f;</i><span>提 现</span></a>
                <a href="sinapay.html"><i class="qtydfont">&#xe601;</i><span>存钱罐</span></a>
                <a href="bank-list.html"><i class="qtydfont">&#xe607;</i><span>银行卡</span></a>
                <a href="reward.html"><i class="qtydfont">&#xe60c;</i><span>红包</span></a>
                <a href="coupon.html"><i class="qtydfont">&#xe60b;</i><span>礼券</span></a>
                <a href="javascript:;"><i class="qtydfont">&#xe615;</i><span>安全中心</span></a>
                <a href="../invest.html"><i class="qtydfont">&#xe661;</i><span>投 资</span></a>
                <a href="javascript:;"><i class="qtydfont">&#xe614;</i><span>还款时间</span></a>
                <a href="javascript:;"><i class="qtydfont">&#xe612;</i><span>邀请好友</span></a>
                <a href="javascript:;"><i class="qtydfont">&#xe60a;</i><span>更 多</span></a>
            </nav>
        </div>

        <div class="navfixed">
            <ul>
                <li>
                    <a href="../home.html">
                        <i class="qtydfont home">&#xe604;</i>
                        <span class="ui-navbar-label">首 页</span>
                    </a>
                </li>
                <li>
                    <a href="../invest.html">
                        <i class="qtydfont invest">&#xe661;</i>
                        <span class="ui-navbar-label">投 资</span>
                    </a>
                </li>
                <li>
                    <a href="../invest.html">
                        <i class="qtydfont invest">&#xe656;</i>
                        <span class="ui-navbar-label">活 动</span>
                    </a>
                </li>
                <li>
                    <a href="main.html" class="current">
                        <i class="qtydfont member">&#xe60d;</i>
                        <span class="ui-navbar-label">账 户</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<script src="../../../lib/sea.js"></script>
<script>seajs.use("page/mobile/member/main.js")</script>
</body>
</html>