<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-新手大礼包</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">祺天优贷</h1>
            <span class="icon-primary-nav qtydfont" id="icon-primary-nav">&#xe603;</span>
            <nav class="primary-nav-group">
                <a href="main.html"><i class="qtydfont">&#xe60d;</i>账户管理</a>
                <a href="recharge.html"><i class="qtydfont">&#xe613;</i>充值</a>
                <a href="bank.html"><i class="qtydfont">&#xe607;</i>银行卡</a>
                <a href=""><i class="qtydfont">&#xe600;</i>我的交易</a>
                <a href=""><i class="qtydfont">&#xe612;</i>邀请好友</a>
                <a href=""><i class="qtydfont">&#xe618;</i>安全退出</a>
            </nav>
        </header>
        <div id="body">
            <div class="novice-packs">
                <div class="novice-packs-item finish">
                    <i class="qtydfont icon-novice-packs">&#xe672;</i>
                    <h3>新手上路</h3>
                    <p class="award">完成任务：奖励 30元红包券</p>
                    <p>通关秘籍：成功注册</p>
                    <button class="btn-primary disabled">已完成</button>
                </div>
                <div class="novice-packs-item">
                    <i class="qtydfont icon-novice-packs">&#xe672;</i>
                    <h3>关注小祺</h3>
                    <p class="award">完成任务：奖励 10元红包券</p>
                    <p>通关秘籍：成功关注并绑定公众号“QTYD”</p>
                    <button class="btn-primary" id="j-concern-wx">马上关注</button>
                </div>
                <div class="novice-packs-item">
                    <i class="qtydfont icon-novice-packs">&#xe672;</i>
                    <h3>小试牛刀</h3>
                    <p class="award">完成任务：奖励 10元红包券</p>
                    <p>通关秘籍：成功完成首次投资</p>
                    <button class="btn-primary">立刻投资</button>
                </div>
                <div class="novice-packs-item">
                    <i class="qtydfont icon-novice-packs">&#xe672;</i>
                    <h3>第二次投资任务</h3>
                    <p class="award">完成任务：奖励 10元红包券</p>
                    <p>通关秘籍：成功完成第二次投资</p>
                    <button class="btn-primary">再投一笔</button>
                </div>
            </div>
        </div>
    </div>


<script src="../../../lib/sea.js"></script>
<script>seajs.use("page/mobile/member/novice_packs")</script>
</body>
</html>