<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>设置支付密码-用户中心</title>
    <meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">设置支付密码</h1>
        </header>
        <div id="body" class="be-tool">
            <form class="form">
                <div class="form-group">
                    <div class="form-item-group"><label class="form-label">验证码</label><input type="text" class="ui-input-text" placeholder="手机验证码" ><button class="btn-captcha">获取验证码</button></div>
                </div>
                <div class="form-many-group">
                    <div class="form-many-item"><label class="form-label">新密码</label><input type="password" class="ui-input-text" placeholder="6-24位字符，区分大小写" ></div>
                    <div class="form-many-item"><label class="form-label">确认密码</label><input type="6-24位字符，区分大小写" class="ui-input-text" placeholder="6-24位字符，区分大小写" ></div>
                </div>
                <div class="form-btn mt30">
                    <button class="btn-primary">提 交</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>