<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-红包券兑换</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">红包券兑换</h1>
        </header>
        <div id="body">
            <div class="form">
                <!-- <div class="form-head c-666 ft12">请绑定持卡人本人的银行卡</div> -->
                <div class="form-many-group">
                    <div class="form-many-item"><label class="form-label">兑换码</label><input type="text" class="ui-input-text" placeholder="输入红包券兑换码"></div>
                    <div class="form-many-item"><label class="form-label">验证码</label><input type="tel" class="ui-input-text" placeholder="输入验证码"><img src="" class="btn-captcha-img" alt="图片验证码"></div>
                </div>
                <div class="form-btn ">
                    <button class="btn-primary">确认兑换</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>