<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-我的红包</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">我的红包</h1>
            <span class="icon-primary-nav qtydfont" id="icon-primary-nav">&#xe603;</span>
            <nav class="primary-nav-group">
                <a href="main.html"><i class="qtydfont">&#xe60d;</i>账户管理</a>
                <a href="recharge.html"><i class="qtydfont">&#xe613;</i>充值</a>
                <a href="bank.html"><i class="qtydfont">&#xe607;</i>银行卡</a>
                <a href=""><i class="qtydfont">&#xe600;</i>我的交易</a>
                <a href=""><i class="qtydfont">&#xe612;</i>邀请好友</a>
                <a href=""><i class="qtydfont">&#xe618;</i>安全退出</a>
            </nav>
        </header>
        <div id="body">
            <div class="tabfixed">
                <ul class="tabfixed-two">
                    <li class="current"><a href="reward.html">红包<!-- <i class="icon-tips-info">2</i> --></a></li>
                    <li><a href="reward-tickets.html">红包券</a></li>
                </ul>
            </div>

            <article class="reward-list">
                <div class="form-item-group ft14"><label class="form-label">可用红包</label><span class="form-value c-primary">70元</span><span class="btn-primary btn-reward" id="j-card-delete">立即投资</span></div>
                <div class="form-many-group mt15 ft14">
                    <div class="form-many-item"><label class="form-label">红包总额</label><span class="form-value c-666">70元</span></div>
                    <div class="form-many-item"><label class="form-label">已用红包</label><span class="form-value c-666">30元</span></div>
                    <div class="form-many-item"><label class="form-label">过期红包</label><span class="form-value c-666">10元</span></div>
                </div>

                <section class="reward-item">
                    <div class="status c-666">
                        <p class="reward-number">￥<span class="hwxh ft16">50</span></p>
                        <p>未使用</p>
                    </div>
                    <h3 class="reward-name">邀请红包 </h3>
                    <p class="reward-time c-999">有效期至：2015-08-30</p>

                </section>
                <section class="reward-item">
                    <div class="status c-999">
                        <p class="reward-number">￥<span class="hwxh ft16">50</span></p>
                        <p>已过期</p>
                    </div>
                    <h3 class="reward-name">邀请红包</h3>
                    <p class="reward-time c-999">过期时间：2015-08-30</p>
                </section>
                <section class="reward-item">
                    <div class="status c-999">
                        <p class="reward-number">￥<span class="hwxh ft16">50</span></p>
                        <p>已使用</p>
                    </div>
                    <h3 class="reward-name">注册红包</h3>
                    <p class="reward-time c-999">使用时间：2015-03-30</p>
                </section>
            </article>
        </div>

        <!-- <div class="navfixed">
            <ul>
                <li>
                    <a href="../home.html">
                        <i class="qtydfont home">&#xe604;</i>
                        <span class="ui-navbar-label">首 页</span>
                    </a>
                </li>
                <li>
                    <a href="../invest.html">
                        <i class="qtydfont invest">&#xe661;</i>
                        <span class="ui-navbar-label">投 资</span>
                    </a>
                </li>
                <li>
                    <a href="../invest.html">
                        <i class="qtydfont invest">&#xe656;</i>
                        <span class="ui-navbar-label">活 动</span>
                    </a>
                </li>
                <li>
                    <a href="main.html" class="current">
                        <i class="qtydfont member">&#xe60d;</i>
                        <span class="ui-navbar-label">账 户</span>
                    </a>
                </li>
            </ul>
        </div> -->
    </div>
</body>
</html>