<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>安全中心-用户中心</title>
    <meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">安全中心</h1>
        </header>
        <div id="body" class="be-tool">
            <div class="safety">
                <ul class="safety-status">
                    <li class="lighten"><i class="qtydfont">&#xe653;</i></li>
                    <li><i class="qtydfont">&#xe659;</i></li>
                    <li><i class="qtydfont">&#xe60d;</i></li>
                    <li><i class="qtydfont">&#xe658;</i></li>
                    <li><i class="qtydfont">&#xe62a;</i></li>
                </ul>
                <div class="safety-lv">
                    <label class="c-666">安全等级：</label>
                    <span class="user-safety-progress">
                        <i class="user-safety-progress-bar" style="width:50%;"></i>
                    </span>
                    <span class="user-safety-title c-success">低</span>
                </div>
            </div>

            <div class="form-many-group form-safety">
                <div class="form-many-item"><label class="form-label"><i class="qtydfont c-primary">&#xe653;</i></label><span class="form-value c-999 tal">已开通新浪存钱罐</span></div>
                <div class="form-many-item"><label class="form-label"><i class="qtydfont">&#xe659;</i></label><span class="form-value c-666 ">未绑定邮箱</span><a href="setup-email.html" class="form-more"><i class="qtydfont">&#xe628;</i></a></div>
                <div class="form-many-item"><label class="form-label"><i class="qtydfont">&#xe60d;</i></label><span class="form-value c-666 ">未设置昵称</span><a href="setup-nickname.html" class="form-more"><i class="qtydfont">&#xe628;</i></a></div>
                <div class="form-many-item"><label class="form-label"><i class="qtydfont">&#xe658;</i></label><span class="form-value c-666 ">未设置支付密码</span><a href="pay-password.html" class="form-more"><i class="qtydfont">&#xe628;</i></a></div>
                <div class="form-many-item"><label class="form-label"><i class="qtydfont c-primary">&#xe65a;</i></label><span class="form-value c-999 ">登录密码</span><a href="login-password.html" class="form-more"><i class="qtydfont">&#xe628;</i></a></div>
                <div class="form-many-item"><label class="form-label"><i class="qtydfont">&#xe62a;</i></label><span class="form-value c-999 ">联系地址</span><a href="address.html" class="form-more"><i class="qtydfont">&#xe628;</i></a></div>
            </div>
        </div>

    </div>
</body>
</html>