<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>修改邮箱-用户中心</title>
    <meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">邮箱设置</h1>
        </header>
        <div id="body">
            <div class="tips-group c-success">
                <div class="tac"><i class="qtydfont ft40">&#xe63c;</i></div>
                <h2 class="tac">邮箱设置成功</h2>
                <p class="tac pt15"><a href="" class="btn-primary">安全中心</a></p>
            </div>
            <div class="tips-group c-error">
                <div class="tac"><i class="qtydfont ft40">&#xe63f;</i></div>
                <h2 class="tac c-error">邮箱设置失败</h2>
                <p class="tac c-999 pt5">错误原因</p>
                <p class="tac pt20"><a href="" class="btn-gray">账户首页</a><a href="" class="btn-primary ml10">重新设置</a></p>
            </div>
        </div>

    </div>
<script src="../../../lib/sea.js"></script>
<script>seajs.use("page/mobile/common.js")</script>
</body>
</html>