<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>修改邮箱-用户中心</title>
    <meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">绑定邮箱</h1>
        </header>
        <div id="body" class="be-tool">
            <form class="form">
                <div class="form-group">
                    <div class="form-item-group"><label class="form-label">绑定邮箱</label><input type="email" class="ui-input-text" placeholder="请输入邮箱" ></div>
                </div>
                <div class="form-btn mt30">
                    <button class="btn-primary">提 交</button>
                </div>
            </form>
        </div>

        <div class="navfixed">
            <ul>
                <li>
                    <a href="../home.html">
                        <i class="qtydfont home">&#xe604;</i>
                        <span class="ui-navbar-label">首 页</span>
                    </a>
                </li>
                <li>
                    <a href="../invest.html">
                        <i class="qtydfont invest">&#xe661;</i>
                        <span class="ui-navbar-label">投 资</span>
                    </a>
                </li>
                <li>
                    <a href="../invest.html">
                        <i class="qtydfont invest">&#xe656;</i>
                        <span class="ui-navbar-label">活 动</span>
                    </a>
                </li>
                <li>
                    <a href="main.html" class="current">
                        <i class="qtydfont member">&#xe60d;</i>
                        <span class="ui-navbar-label">账 户</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<script src="../../../lib/sea.js"></script>
<script>seajs.use("page/mobile/common.js")</script>
</body>
</html>