<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-开通存钱罐</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">开通新浪存钱罐</h1>
        </header>
        <div id="body" class="be-tool">
            <div class="sinapay-open-head">
                <p class="c-666">祺天优贷与第三方资金托管公司——新浪支付合作，实现专人专户，专款专用，为您的资金安全保驾护航。</p>
                <p class="c-primary">为享受更好的资金安全服务，请先开通新浪存钱罐。</p>
            </div>
            <div class="ft14">
                <div class="form-many-group">
                    <div class="form-many-item"><label class="form-label">真实姓名</label><input type="text" placeholder="请输入真实姓名" class="ui-input-text" nullmsg="请填写真实姓名" errormsg="真实姓名格式错误" id="name"></div>
                    <div class="form-many-item"><label class="form-label">身份证号</label><input type="number" placeholder="请输入身份证号" class="ui-input-text" nullmsg="请填写真实身份证号" errormsg="身份证号格式错误"></div>

                </div>
                <div class="form-group protocol">
                    <label>同意</label>
                    <a href="javascript:void(0);" id="j-user-protocol" class="c-secondary">《存钱罐服务协议》</a>
                </div>
                <div class="form-btn">
                    <button type="button" class="btn-primary" id="reg_submit">开通新浪存钱罐</button>
                </div>
            </div>
        </div>

    </div>
<script src="../../../lib/sea.js"></script>
<script>seajs.use("page/mobile/common.js")</script>
</body>
</html>