<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-我的存钱罐</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <a href="../register.html" class="a-left-link hide">注册</a>
            <h1 class="primary-title">新浪存钱罐</h1>
            <span class="icon-primary-nav qtydfont" id="icon-primary-nav">&#xe603;</span>
            <nav class="primary-nav-group">
                <a href="main.html"><i class="qtydfont">&#xe60d;</i>账户管理</a>
                <a href="recharge.html"><i class="qtydfont">&#xe613;</i>充值</a>
                <a href="bank.html"><i class="qtydfont">&#xe607;</i>银行卡</a>
                <a href=""><i class="qtydfont">&#xe600;</i>我的交易</a>
                <a href=""><i class="qtydfont">&#xe612;</i>邀请好友</a>
                <a href=""><i class="qtydfont">&#xe618;</i>安全退出</a>
            </nav>
        </header>
        <div id="body" class="be-tool">
            <div class="form-item mb15">
            存钱罐帐号：QTYD12312391273891723<a href="###" class="form-more ">去新浪验证 <i class="qtydfont ft18">&#xe628;</i></a>
            </div>
            <div class="total sinapay-earning">
                <dl>
                    <dt>昨日收益 <span>(元)</span></dt>
                    <dd class="hwxh ft35 c-primary">1.65</dd>
                </dl>
            </div>

            <div class="total sinapay-amount ">
                <dl>
                    <dt>存钱罐余额<span>(元)</span></dt>
                    <dd class="hwxh ft25 c-666">5586950.65</dd>
                    <dd class="ft12 mt10 c-999"><span>可用余额：<em class="hwxh">50.65</em></span><span>提现冻结：<em class="hwxh">50.65</em></span></dd>
                </dl>
            </div>

            <div class="sinapya-total">
                <dl>
                    <dt>万份收益(元)</dt>
                    <dd>1.4028</dd>
                </dl>
                <dl>
                    <dt>七日年化收益率(%)</dt>
                    <dd>3.741<a href="" class="c-primary ft12 ml5">提升收益</a></dd>
                </dl>
                <dl>
                    <dt>近一周收益(元)</dt>
                    <dd>0.00</dd>
                </dl>
                <dl>
                    <dt>累计收益(元)</dt>
                    <dd>0.00</dd>
                </dl>
            </div>
            <div class="btnfixed">
                <span>
                    <a href="recharge.html" class="btn-primary">充值</a>
                </span>
                <span>
                    <a href="cash.html" class="btn-primary">投资</a>
                </span>
            </div>
        </div>

    </div>
<script src="../../../lib/sea.js"></script>
<script>seajs.use("page/mobile/common.js")</script>
</body>
</html>