<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-交易记录</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title" id="j-trade-nav">交易记录<i class="qtydfont ml5">&#xe61f;</i></h1>
            <nav class="trade-nav">
                <a href="">全  部</a>
                <a href="">充  值</a>
                <a href="">提  现</a>
                <a href="">投  资</a>
                <a href="">还  款</a>
                <a href="">存钱罐收益</a>
            </nav>
        </header>
        <div id="body">
            <div class="tabfixed">
                <ul class="tabfixed-two">
                    <li class="current"><a href="trade-log.html">三个月</a></li>
                    <li><a href="recharge-log.html">一年</a></li>
                </ul>
            </div>

            <div class="trade-list">
                <div class="trade-group">
                    <h2 class="trade-head">2015-06</h2>
                    <article class="trade-body">
                        <section class="trade-item">
                            <i class="qtydfont c-primary">&#xe613;</i>
                            <dl>
                                <dd class="hwxh">充 值</dd>
                                <dt class="c-999">2015-05-08    13:52:05</dt>
                            </dl>
                            <dl>
                                <dd class="hwxh">+1500.00</dd>
                                <dt class="c-666">处理中</dt>
                            </dl>
                        </section>
                        <section class="trade-item">
                            <i class="qtydfont c-primary">&#xe613;</i>
                            <dl>
                                <dd class="hwxh">充 值</dd>
                                <dt class="c-999">2015-05-08    13:52:05</dt>
                            </dl>
                            <dl>
                                <dd class="hwxh">+1500.00</dd>
                                <dt class="c-error">充值失败 </dt>
                            </dl>
                        </section>
                        <section class="trade-item">
                            <i class="qtydfont c-primary">&#xe613;</i>
                            <dl>
                                <dd class="hwxh">充 值</dd>
                                <dt class="c-999">2015-05-08    13:52:05</dt>
                            </dl>
                            <dl>
                                <dd class="hwxh">+1500.00</dd>
                                <dt class="c-success">充值成功 </dt>
                            </dl>
                        </section>
                        <section class="trade-item">
                            <i class="qtydfont c-primary">&#xe60f;</i>
                            <dl>
                                <dd>提 现</dd>
                                <dt class="c-999">2015-05-08    13:52:05</dt>
                            </dl>
                            <dl>
                                <dd class="hwxh">+1500.00</dd>
                                <dt class="c-success">提现成功 </dt>
                            </dl>
                        </section>
                        <section class="trade-item">
                            <i class="qtydfont c-primary">&#xe60f;</i>
                            <dl>
                                <dd>提 现</dd>
                                <dt class="c-999">2015-05-08    13:52:05</dt>
                            </dl>
                            <dl>
                                <dd class=" hwxh">+1500.00</dd>
                                <dt class="c-error">提现失败 </dt>
                            </dl>
                        </section>
                    </article>
                </div>
                <div class="trade-group">
                    <h2 class="trade-head">2015-05</h2>
                    <article class="trade-body">
                        <section class="trade-item">
                            <i class="qtydfont c-primary">&#xe613;</i>
                            <dl>
                                <dd class="hwxh">充 值</dd>
                                <dt class="c-999">2015-05-08    13:52:05</dt>
                            </dl>
                            <dl>
                                <dd class="hwxh">+1500.00</dd>
                                <dt class="c-666">处理中</dt>
                            </dl>
                        </section>
                        <section class="trade-item">
                            <i class="qtydfont c-primary">&#xe613;</i>
                            <dl>
                                <dd class="hwxh">充 值</dd>
                                <dt class="c-999">2015-05-08    13:52:05</dt>
                            </dl>
                            <dl>
                                <dd class="hwxh">+1500.00</dd>
                                <dt class="c-success">充值成功 </dt>
                            </dl>
                        </section>
                        <section class="trade-item">
                            <i class="qtydfont c-primary">&#xe613;</i>
                            <dl>
                                <dd class="hwxh">充 值</dd>
                                <dt class="c-999">2015-05-08    13:52:05</dt>
                            </dl>
                            <dl>
                                <dd class="hwxh">+1500.00</dd>
                                <dt class="c-success">充值成功 </dt>
                            </dl>
                        </section>
                        <section class="trade-item">
                            <i class="qtydfont c-primary">&#xe60f;</i>
                            <dl>
                                <dd>提 现</dd>
                                <dt class="c-999">2015-05-08    13:52:05</dt>
                            </dl>
                            <dl>
                                <dd class="hwxh">+1500.00</dd>
                                <dt class="c-success">提现成功 </dt>
                            </dl>
                        </section>
                        <section class="trade-item">
                            <i class="qtydfont c-primary">&#xe60f;</i>
                            <dl>
                                <dd>提 现</dd>
                                <dt class="c-999">2015-05-08    13:52:05</dt>
                            </dl>
                            <dl>
                                <dd class="c-999 hwxh">+1500.00</dd>
                                <dt class="c-error">提现失败 </dt>
                            </dl>
                        </section>
                    </article>
                </div>
            </div>

            <!-- <article class="trade-list">
                <section class="trade-item">
                    <time>2015-07-11 09:00:00</time>
                    <p>类型：<span class="c-666">提现</span></p>
                    <p>流水：QTYD654654654564654654</p>
                    <p>金额：￥1000.00</p>
                    <p>状态：<span class="c-warning">审核中</span></p>
                </section>
                <section class="trade-item">
                    <time>2015-07-11 09:00:00</time>
                    <p>类型：<span class="c-666">充值</span></p>
                    <p>流水：QTYD654654654564654654</p>
                    <p>金额：￥1000.00</p>
                    <p>状态：<span class="c-success">操作成功</span></p>
                </section>
                <section class="trade-item">
                    <time>2015-07-11 09:00:00</time>
                    <p>类型：<span class="c-666">提现</span></p>
                    <p>流水：QTYD654654654564654654</p>
                    <p>金额：￥1000.00</p>
                    <p>状态：<span class="c-error">失败(银行卡相关信息不正确)</span></p>
                </section>
                <section class="trade-item">
                    <time>2015-07-11 09:00:00</time>
                    <p>类型：<span class="c-666">充值</span></p>
                    <p>流水：QTYD654654654564654654</p>
                    <p>金额：￥1000.00</p>
                    <p>状态：<span class="c-success">操作成功</span></p>
                </section>
                <section class="trade-item">
                    <time>2015-07-11 09:00:00</time>
                    <p>类型：<span class="c-666">充值</span></p>
                    <p>流水：QTYD654654654564654654</p>
                    <p>金额：￥1000.00</p>
                    <p>状态：<span class="c-success">操作成功</span></p>
                </section>
            </article> -->
        </div>

        <div class="navfixed">
            <ul>
                <li>
                    <a href="../home.html">
                        <i class="qtydfont home">&#xe604;</i>
                        <span class="ui-navbar-label">首 页</span>
                    </a>
                </li>
                <li>
                    <a href="../invest.html">
                        <i class="qtydfont invest">&#xe661;</i>
                        <span class="ui-navbar-label">投 资</span>
                    </a>
                </li>
                <li>
                    <a href="../invest.html">
                        <i class="qtydfont invest">&#xe656;</i>
                        <span class="ui-navbar-label">活 动</span>
                    </a>
                </li>
                <li>
                    <a href="main.html" class="current">
                        <i class="qtydfont member">&#xe60d;</i>
                        <span class="ui-navbar-label">账 户</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<script src="../../../lib/sea.js"></script>
<script>seajs.use("page/mobile/member/trade-log.js")</script>
</body>
</html>