<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>项目详细</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="../../../css/mobile.css">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div id="m">
        <header id="header">
            <!-- <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a> -->
            <!-- <a href="../register.html" class="a-left-link">注册</a> -->
            <h1 class="primary-title">APP下载专题</h1>
            <span class="icon-primary-nav qtydfont" id="icon-primary-nav">&#xe603;</span>
            <nav class="primary-nav-group">
                <a href="main.html"><i class="qtydfont">&#xe60d;</i>账户管理</a>
                <a href="recharge.html"><i class="qtydfont">&#xe613;</i>充值</a>
                <a href="bank.html"><i class="qtydfont">&#xe607;</i>银行卡</a>
                <a href=""><i class="qtydfont">&#xe600;</i>我的交易</a>
                <a href=""><i class="qtydfont">&#xe612;</i>邀请好友</a>
                <a href=""><i class="qtydfont">&#xe618;</i>安全退出</a>
            </nav>
        </header>
        <div id="body">
        <div class="floor floor1">
            <div class="left"><img src="images/mobile.jpg" height="400" width="242"></div>
            <div class="right">
                <h2 class="app-title">祺天优贷App正式发布</h2>
                <div class="app-down-group">
                    <dl class="app-down">
                        <dt>随时随地</dt>
                        <dd><span><img src="images/android.png" height="160" width="160"></span><a href="" class="android-down">Android</a></dd>
                    </dl>
                    <dl class="app-down">
                        <dt>移动理财</dt>
                        <dd><span><img src="images/android.png" height="160" width="160"></span><a href="" class="iphone-down">Android</a></dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="floor floor2">
            <div class="left">
                <h2 class="app-title">账户资产 了然于掌</h2>
                <p class="app-text">灵活运用碎片化时间<br>资金往来随时查阅</p>
            </div>
            <div class="right"><img src="images/account.png" height="410" width="676"></div>
        </div>

        <div class="floor floor3">
            <div class="left"><img src="images/record_01.jpg" height="414" width="500"></div>
            <div class="right">
                <h2 class="app-title">投资还款 记录清晰</h2>
                <p class="app-text">还款计划详尽透明<br>复利投资利滚利</p>
                <p><img src="images/record_02.png" height="195" width="358"></p>
            </div>
        </div>

        <div class="floor floor4">
            <div class="left">
                <h2 class="app-title">资金托管  完美护航</h2>
                <p class="app-text">资金由新浪支付全程托管  工行监管<br>财富增值安全无忧</p>
            </div>
            <div class="right"><img src="images/safety.png" height="372" width="566"></div>
        </div>

        <div class="floor floor5">
            <div class="left">
                <h2 class="app-title">资金托管  完美护航</h2>
                <p class="app-text">祺天优贷APP全新上路<br>与您一起快乐理财每一天</p>
            </div>
            <div class="right">
                <div class="app-down-group">
                    <dl class="app-down">
                        <dd><span><img src="images/android.png" height="160" width="160"></span><a href="" class="android-down">Android</a></dd>
                    </dl>
                    <dl class="app-down">
                        <dd><span><img src="images/android.png" height="160" width="160"></span><a href="" class="iphone-down">Android</a></dd>
                    </dl>
                </div>
                <div class="app-down-tips"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>