html,body{ background-color: #ea4841; }
@-webkit-keyframes shake {
    0% {
        -webkit-transform: rotate(18deg) translate3d(0, 0, 0)
    }
    50% {
        -webkit-transform: rotate(-18deg) translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: rotate(18deg) translate3d(0, 0, 0)
    }
}

@-moz-keyframes shake {
    0% {
        transform: rotate(18deg) translate3d(0, 0, 0)
    }
    50% {
        transform: rotate(-18deg) translate3d(0, 0, 0)
    }
    100% {
        transform: rotate(18deg) translate3d(0, 0, 0)
    }
}
@-ms-keyframes shake {
    0% {
        transform: rotate(18deg) translate3d(0, 0, 0)
    }
    50% {
        transform: rotate(-18deg) translate3d(0, 0, 0)
    }
    100% {
        transform: rotate(18deg) translate3d(0, 0, 0)
    }
}

/* 拆红包首页 */
#homepage{ height: 100%; background-color: #ea4841; }
#homepage .banner{ padding: 2.5rem 0 9rem; background-color: #e9352f; }
#attentionpage .banner{ padding: 2.5rem 0 0; }
#homepage .banner,#homepage .open-gift,#getpage .banner,#attentionpage .banner,.attention-step{ max-width: 640px; margin: 0 auto; }
#homepage .banner img,#homepage .open-gift img,#getpage .banner img,#attentionpage .banner img,.attention-step img{ width: 100%; }
#homepage .open-gift{ position: relative; }
.btn-open-gift{ position: absolute; left: 50%; top: -60px; display: block; width: 190px; height: 190px; border-radius: 100%; margin-left: -95px;  background-color: #feb324; }
.btn-open-gift:before{ content: ' '; position: absolute; top: -10px; left: 0; display: inline-block; width: 100%; height: 100%; border-radius: 100%; background-color: #ffef5a; }
.btn-open-gift:after{ content: '拆红包'; position: absolute; top: 0px; left: 9px; display: block; width: 86%; height: 86%; border-radius: 100%; background-color: #ffef5a; border: 4px solid #ffc942; text-align: center; line-height: 150px; font-size: 42px; color: #ffc026; }
.btn-open-gift.over:after{ content: '已派完'; }
.btn-open-gift.start:after{ content: '除夕见'; }
.btn-open-gift.tomorrow:after{ content: '明天见'; }
.btn-open-gift.shake{
	animation:shake .2s infinite linear;
	-webkit-animation:shake .2s infinite linear;
}
#homepage .btn-rules{ position: absolute; display: block; width: 100%; text-align: center; bottom: 25%; font-size: 1rem; color: #ffef5a; }

/* 获得红包 */
.get-gift{ max-width: 640px; margin: 0 auto; text-align: center; background-color: #fff; }
.get-gift dl{ padding: 20px 0 10px; }
.get-gift dt{ color: #666; font-size: 1.4rem; }
.get-gift dd{ color: #999; font-size: 1.2rem; }
.get-money{ line-height: 1.2; padding-bottom: 20px; color: #666; font-size: 1.2rem; }
.get-money span{ font-size: 2.8rem; color: #ea362f; }
.get-guide{ max-width: 640px; margin: 0 auto; padding: 10px 0 20px; color: #666; text-align: center; font-size: 1rem; border-top: 1px solid #999; background-color: #f2f2f2 }
.get-guide p span{ color: #feb324; }
.btn-invest{ display: block; margin: 10px auto 20px; width: 90%; height: 40px; line-height: 40px; font-size: 1.2rem; color: #ffef5a; background-color: #feb324; border: 0; border-radius: 10px; }

#getpage .btn-rules{ color: #feb324; }

.attention{ max-width: 640px; padding-top: 30px; margin: 0 auto; }
.attention dl{ padding-bottom: 10px; text-align: center; }
.attention dt{ padding-top: 10px; color: #f4e65f; font-size: 1.5rem; }

.dialog-box{ position: relative; background-color: #ea372f; border-radius: 10px; }
.closediy{ position: absolute; right: 15px; top: 15px; width: 20px; height: 20px; background-image: url(../images/close.png); background-size: 20px 20px; }
.dialog-rules{ position: relative; padding: 15px 15px 30px; color: #fff; }
.dialog-rules h2{ padding-bottom: 10px; margin-bottom: 15px; font-size: 18px; font-weight: normal; border-bottom: 1px dashed #fff; }
.dialog-rules ol{ list-style-type: decimal; padding-left: 22px; }
.dialog-rules p{ padding-top: 15px; }
.icon-decorate{ position: absolute; right: -10px; bottom: -10px; display: block; width: 124px; height: 53px; background: url(../images/decorate.png) no-repeat center top; background-size: 124px 53px; }

.dialog-tips{  padding: 60px 0; }
.dialog-tips-info{ margin: 0 auto; width: 70%; }
.dialog-tips-info img{ width: 100%; }

@media (max-width: 480px){
	.btn-open-gift{ top: -45px; width: 130px; height: 130px; margin-left: -65px; }
	.btn-open-gift:before{ top: -7px; }
	.btn-open-gift:after{ left: 5px; top: -2px; font-size: 28px; line-height: 112px; }
}
@media (max-width: 380px){
	#homepage .banner{ padding: 1.5rem 0 4.4rem; }
	.btn-open-gift{ top: -30px; width: 95px; height: 95px; margin-left: -47px; }
	.btn-open-gift:before{ top: -5px; }
	.btn-open-gift:after{ left: 4px; top: -1px; font-size: 20px; line-height: 78px; border: 3px solid #ffc942; }
	.attention{ padding-top: 15px; }
	.attention dl dt{  font-size: 1.2rem; }
	.attention dl dd img{ width: 50%; }
}