<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<style>

	</style>
</head>
<body>
    <div class="page1 verify">
    	<div class="banner-01"></div>
    	<div class="reward">
    		<ul>
    			<li><input type="tel" class="input-text" placeholder="请设置登录密码"></li>
    			<li><button class="btn-submit">下一步</button></li>
    		</ul>
    	</div>
    </div>
    <script src="../../../lib/sea.js"></script>
	<script>seajs.use("page/mobile/topic/1018")</script>
</body>
</html>