<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/src/css/swiper.css">
</head>
<body>
	<div class="succeed-special">
		<h2>好幸运！您领到了一个红包</h2>
		<div class="money"><span><em>8.88</em>元</span><img src="img/reward_special.png"></div>
		<p class="warm-tips">红包已放账户！赶紧投资吧，<br>不要过期噢~</p>
		<div class="btn-wrap">
			<a href="javascript:;" class="btn-submit" id="btn-share-succeed">再领一个</a>
			<a href="javascript:;" class="btn-submit" id="btn-share">立即使用</a>
		</div>

		<div class="award">
			<div class="title"><span>额外奖励</span></div>
			<div class="info">好友通过您分享的活动页面进行注册，好友获得<span>60</span>元 新手大礼包，您获得<span>5</span>元红包奖励；好友投资≥1000元，您再获得<span>50</span>元红包奖励。</div>
		</div>
	</div>


    <script src="../../../lib/sea.js"></script>
	<script>seajs.use("page/mobile/topic/1018")</script>
</body>
</html>