<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/src/css/swiper.css">
	<style>

	</style>
</head>
<body>
<!-- Swiper -->
	<div class="succeed">
		<div class="rewardwrap">
			<h2>￥<span>8.88</span></h2>
			<h3>感谢参与本次活动，您已领取1个红包，金额8.88元</h3>
			<div class="btn-wrap">
				<a href="javascript:;" class="btn-submit" id="btn-share-succeed">马上分享，再领一个</a>
				<a href="javascript:;" class="btn-submit" id="btn-share">立即使用</a>
			</div>
		</div>
	</div>
    <script src="../../../lib/sea.js"></script>
	<script>seajs.use("page/mobile/topic/1018")</script>
</body>
</html>