<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
<div id="page">
    <header id="header">
        <a href="javascript:history.back();" class="a-go-back">&lt;返回</a>
        <h1 class="header-name">优贷车贷008期</h1>
        <button class="btn-nav"></button>
    </header>
    <div id="content">
        <div class="itme-attr-detail">
            <ul class="itme-attr-group fn-clear">
                <li class="itme-attr-apr">
                    <span class="item-attr-title">年利率</span>
                    <span class="item-attr-content text-primary"><em>15.00</em>%</span>
                </li>
                <li class="itme-attr-sum">
                    <span class="item-attr-title">可投金额</span>
                    <span class="item-attr-content">￥<em>52,940,00</em></span>
                </li>
                <li class="itme-attr-time">
                    <span class="item-attr-title">收益期限</span>
                    <span class="item-attr-content"><em>27</em>天</span>
                </li>
            </ul>
        </div>
        <div class="attributes-list">
            <ul>
                <li><label class="attributes-label">项目名称</label><span class="attributes-value">大众帕萨特汽车质押债权项目</span></li>
                <li><label class="attributes-label">投资总额</label><span class="attributes-value">65,000元</span></li>
                <li><label class="attributes-label">开始日期</label><span class="attributes-value">2015-02-03</span></li>
                <li><label class="attributes-label">还款日期</label><span class="attributes-value">2015-03-03</span></li>
                <li><label class="attributes-label">还款方式</label><span class="attributes-value">按日计息，到期还本</span></li>
                <li><label class="attributes-label">起投金额</label><span class="attributes-value">1000元</span></li>
            </ul>
        </div>
        <a href="item-detail.html" class="btn-detail-more">更多详情<i>&gt;</i></a>
    </div>
    <div class="ui-navbar">
        <button class="btn-invest"><span class="btn-invest-text">立即投资</span><i class="btn-invest-speed" style=" width:90.67%; "></i><em class="btn-invest-speed-text">90.67%</em></button>
        <!-- <ul>
            <li>
                <a href="">
                    <i class="ico ico-navbar-home"></i>
                    <span class="ui-navbar-label">主页</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="ico ico-navber-invest"></i>
                    <span class="ui-navbar-label">投资</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="ico ico-navbar-user"></i>
                    <span class="ui-navbar-label">账户管理</span>
                </a>
            </li>
        </ul> -->
    </div>
</div>
</body>
</html>