<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>项目详情投资记录</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
<div id="page">
    <header id="header">
        <a href="javascript:history.back();" class="a-go-back">&lt;返回</a>
        <button class="btn-nav"></button>
        <ul class="header-tab">
            <li class="header-tab-item"><a href="item-detail.html">项目详情</a></li>
            <li class="header-tab-item current"><a href="item-detail-log.html">投资记录</a></li>
        </ul>
    </header>
    <div id="content">
        <table class="ui-table-data">
            <tr>
                <th width="30%">投资用户</th>
                <th width="40%">投资金额</th>
                <th width="30%">投资时间</th>
            </tr>
            <tr>
                <td>180****4631<i class="icon-phone"></i><i class="icon-red-packet"></i></td>
                <td>20,000元(含红包28.00元)</td>
                <td>2015-02-05 18:00:08</td>
            </tr>
            <tr>
                <td>180****4631</td>
                <td>20,000元(含红包28.00元)</td>
                <td>2015-02-05 18:00:08</td>
            </tr>
            <tr>
                <td>180****4631</td>
                <td>20,000元(含红包28.00元)</td>
                <td>2015-02-05 18:00:08</td>
            </tr>
            <tr>
                <td>180****4631</td>
                <td>20,000元(含红包28.00元)</td>
                <td>2015-02-05 18:00:08</td>
            </tr>
            <tr>
                <td>180****4631</td>
                <td>20,000元(含红包28.00元)</td>
                <td>2015-02-05 18:00:08</td>
            </tr>
            <tr>
                <td>180****4631</td>
                <td>20,000元(含红包28.00元)</td>
                <td>2015-02-05 18:00:08</td>
            </tr>
            <tr>
                <td>180****4631</td>
                <td>20,000元(含红包28.00元)</td>
                <td>2015-02-05 18:00:08</td>
            </tr>
            <tr>
                <td>180****4631</td>
                <td>20,000元(含红包28.00元)</td>
                <td>2015-02-05 18:00:08</td>
            </tr>
            <tr>
                <td>180****4631</td>
                <td>20,000元(含红包28.00元)</td>
                <td>2015-02-05 18:00:08</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>