<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>项目详细</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
<div id="page">
    <header id="header">
        <a href="javascript:history.back();" class="a-go-back">&lt;返回</a>
        <button class="btn-nav"></button>
        <ul class="header-tab">
            <li class="header-tab-item current"><a href="item-detail.html">项目详情</a></li>
            <li class="header-tab-item"><a href="item-detail-log.html">投资记录</a></li>
        </ul>
    </header>
    <div id="content">
        <div class="bid-detail">
            <h3 class="bid-detail-title">项目描述</h3>
            <div class="bid-detail-content">
                <p>本项目借款主要用于借款人短期资金周转。借款人为河北省遵化市居民（户籍），工作稳定，信用良好，还款来源为其个人工资性收入和日常经营所得，有充足的偿还能力，而且借款人以自有的铃木汽车作质押，质押车辆评估价为人民币3万元，质押物价值远大于借款金额。</p>
            </div>
            <h3 class="bid-detail-title">出借人信息（原始债权人）</h3>
            <div class="bid-detail-content">
                <table width="100%" class="bid-detail-table">
                    <tr>
                        <td width="20%">姓名</td>
                        <td width="30%">王*</td>
                        <td width="20%">年龄</td>
                        <td width="30%">28</td>
                    </tr>
                    <tr>
                        <td>性别</td>
                        <td>男</td>
                        <td>婚姻情况</td>
                        <td>已婚</td>
                    </tr>
                    <tr>
                        <td>户籍地</td>
                        <td>河北省石家庄</td>
                        <td>居住地</td>
                        <td>河北省石家庄</td>
                    </tr>
                </table>
                <table width="100%" class="mt10">
                    <tr>
                        <td align="center" class="pr5"><img src="http://admin.zjqttz.com/ueditor/php/upload/image/20150210/1423558983803709.jpg" width="100%"></td>
                        <td align="center" class="pl5"><img src="http://admin.zjqttz.com/ueditor/php/upload/image/20150210/1423559015495460.jpg" width="100%"></td>
                    </tr>
                </table>
            </div>
            <h3 class="bid-detail-title">借款人信息</h3>
            <div class="bid-detail-content">
                <table width="100%" class="bid-detail-table">
                    <tr>
                        <td width="20%">姓名</td>
                        <td width="30%">王*</td>
                        <td width="20%">年龄</td>
                        <td width="30%">28</td>
                    </tr>
                    <tr>
                        <td>性别</td>
                        <td>男</td>
                        <td>婚姻情况</td>
                        <td>已婚</td>
                    </tr>
                </table>
                <table width="100%" class="mt10">
                    <tr>
                        <td align="center" class="pr5"><img src="http://admin.zjqttz.com/ueditor/php/upload/image/20150210/1423558983803709.jpg" width="100%"></td>
                        <td align="center" class="pl5"><img src="http://admin.zjqttz.com/ueditor/php/upload/image/20150210/1423559015495460.jpg" width="100%"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="ui-navbar">
        <button class="btn-invest"><span class="btn-invest-text">立即投资</span><i class="btn-invest-speed" style=" width:90.67%; "></i><em class="btn-invest-speed-text">90.67%</em></button>
    </div>
</div>
</body>
</html>