<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
<div id="page">
    <header id="header">
        <!-- <a href="" class="a-go-back">&lt;返回</a> -->
        <!-- <a href="register.html" class="a-register">注册</a> -->
        <h1 class="header-name">项目列表</h1>
        <button class="btn-nav"></button>
    </header>
    <div id="content">
        <div class="item-list">
            <a class="item-group">
                <div class="itme-attr">
                    <ul class="itme-attr-group">
                        <li class="itme-attr-apr">
                            <span class="item-attr-content text-primary"><em>15.00</em>%</span>
                            <span class="item-attr-title">年利率</span>
                        </li>
                        <li class="itme-attr-sum">
                            <span class="item-attr-content">￥<em>52,940,00</em></span>
                            <span class="item-attr-title">可投金额</span>
                        </li>
                        <li class="itme-attr-time">
                            <span class="item-attr-content"><em>27</em>天</span>
                            <span class="item-attr-title">收益期限</span>
                        </li>
                    </ul>
                    <div class="itme-speed"><img src="img/invest-speed.png"></div>
                </div>
                <div class="item-title"><span class="item-title-name">【祺天车贷007期】</span> |  <span class="item-title-sum">总金额：￥60,000</span></div>
            </a>
            <a class="item-group">
                <div class="itme-attr">
                    <ul class="itme-attr-group">
                        <li class="itme-attr-apr">
                            <span class="item-attr-content text-primary"><em>15.00</em>%</span>
                            <span class="item-attr-title">年利率</span>
                        </li>
                        <li class="itme-attr-sum">
                            <span class="item-attr-content">￥<em>52,940,00</em></span>
                            <span class="item-attr-title">可投金额</span>
                        </li>
                        <li class="itme-attr-time">
                            <span class="item-attr-content"><em>27</em>天</span>
                            <span class="item-attr-title">收益期限</span>
                        </li>
                    </ul>
                    <div class="itme-speed"><img src="img/invest-speed.png"></div>
                </div>
                <div class="item-title"><span class="item-title-name">【祺天车贷007期】</span> |  <span class="item-title-sum">总金额：￥60,000</span></div>
            </a>

            <a class="item-group">
                <i class="ico-news-bid"></i>
                <div class="itme-attr">
                    <ul class="itme-attr-group">
                        <li class="itme-attr-apr">
                            <span class="item-attr-content text-primary"><em>15.00</em>%</span>
                            <span class="item-attr-title">年利率</span>
                        </li>
                        <li class="itme-attr-sum">
                            <span class="item-attr-content">￥<em>52,940,00</em></span>
                            <span class="item-attr-title">可投金额</span>
                        </li>
                        <li class="itme-attr-time">
                            <span class="item-attr-content"><em>27</em>天</span>
                            <span class="item-attr-title">收益期限</span>
                        </li>
                    </ul>
                    <div class="itme-speed"><img src="img/invest-speed.png"></div>
                </div>
                <div class="item-title"><span class="item-title-name">【祺天车贷007期】</span> |  <span class="item-title-sum">总金额：￥60,000</span></div>
            </a>
            <a class="item-group">
                <div class="itme-attr">
                    <ul class="itme-attr-group">
                        <li class="itme-attr-apr">
                            <span class="item-attr-content text-primary"><em>15.00</em>%</span>
                            <span class="item-attr-title">年利率</span>
                        </li>
                        <li class="itme-attr-sum">
                            <span class="item-attr-content">￥<em>52,940,00</em></span>
                            <span class="item-attr-title">可投金额</span>
                        </li>
                        <li class="itme-attr-time">
                            <span class="item-attr-content"><em>27</em>天</span>
                            <span class="item-attr-title">收益期限</span>
                        </li>
                    </ul>
                    <div class="itme-speed"><img src="img/invest-speed.png"></div>
                </div>
                <div class="item-title"><span class="item-title-name">【祺天车贷007期】</span> |  <span class="item-title-sum">总金额：￥60,000</span></div>
            </a>
            <a class="item-group">
                <div class="itme-attr">
                    <ul class="itme-attr-group">
                        <li class="itme-attr-apr">
                            <span class="item-attr-content text-primary"><em>15.00</em>%</span>
                            <span class="item-attr-title">年利率</span>
                        </li>
                        <li class="itme-attr-sum">
                            <span class="item-attr-content">￥<em>52,940,00</em></span>
                            <span class="item-attr-title">可投金额</span>
                        </li>
                        <li class="itme-attr-time">
                            <span class="item-attr-content"><em>27</em>天</span>
                            <span class="item-attr-title">收益期限</span>
                        </li>
                    </ul>
                    <div class="itme-speed"><img src="img/invest-speed.png"></div>
                </div>
                <div class="item-title"><span class="item-title-name">【祺天车贷007期】</span> |  <span class="item-title-sum">总金额：￥60,000</span></div>
            </a>
            <a class="item-group">
                <div class="itme-attr">
                    <ul class="itme-attr-group">
                        <li class="itme-attr-apr">
                            <span class="item-attr-content text-primary"><em>15.00</em>%</span>
                            <span class="item-attr-title">年利率</span>
                        </li>
                        <li class="itme-attr-sum">
                            <span class="item-attr-content">￥<em>52,940,00</em></span>
                            <span class="item-attr-title">可投金额</span>
                        </li>
                        <li class="itme-attr-time">
                            <span class="item-attr-content"><em>27</em>天</span>
                            <span class="item-attr-title">收益期限</span>
                        </li>
                    </ul>
                    <div class="itme-speed"><img src="img/invest-speed.png"></div>
                </div>
                <div class="item-title"><span class="item-title-name">【祺天车贷007期】</span> |  <span class="item-title-sum">总金额：￥60,000</span></div>
            </a>
            <a class="item-group">
                <div class="itme-attr">
                    <ul class="itme-attr-group">
                        <li class="itme-attr-apr">
                            <span class="item-attr-content text-primary"><em>15.00</em>%</span>
                            <span class="item-attr-title">年利率</span>
                        </li>
                        <li class="itme-attr-sum">
                            <span class="item-attr-content">￥<em>52,940,00</em></span>
                            <span class="item-attr-title">可投金额</span>
                        </li>
                        <li class="itme-attr-time">
                            <span class="item-attr-content"><em>27</em>天</span>
                            <span class="item-attr-title">收益期限</span>
                        </li>
                    </ul>
                    <div class="itme-speed"><img src="img/invest-speed.png"></div>
                </div>
                <div class="item-title"><span class="item-title-name">【祺天车贷007期】</span> |  <span class="item-title-sum">总金额：￥60,000</span></div>
            </a>
            <a class="item-group">
                <div class="itme-attr">
                    <ul class="itme-attr-group">
                        <li class="itme-attr-apr">
                            <span class="item-attr-content text-primary"><em>15.00</em>%</span>
                            <span class="item-attr-title">年利率</span>
                        </li>
                        <li class="itme-attr-sum">
                            <span class="item-attr-content">￥<em>52,940,00</em></span>
                            <span class="item-attr-title">可投金额</span>
                        </li>
                        <li class="itme-attr-time">
                            <span class="item-attr-content"><em>27</em>天</span>
                            <span class="item-attr-title">收益期限</span>
                        </li>
                    </ul>
                    <div class="itme-speed"><img src="img/invest-speed.png"></div>
                </div>
                <div class="item-title"><span class="item-title-name">【祺天车贷007期】</span> |  <span class="item-title-sum">总金额：￥60,000</span></div>
            </a>
            <a class="item-group">
                <div class="itme-attr">
                    <ul class="itme-attr-group">
                        <li class="itme-attr-apr">
                            <span class="item-attr-content text-primary"><em>15.00</em>%</span>
                            <span class="item-attr-title">年利率</span>
                        </li>
                        <li class="itme-attr-sum">
                            <span class="item-attr-content">￥<em>52,940,00</em></span>
                            <span class="item-attr-title">可投金额</span>
                        </li>
                        <li class="itme-attr-time">
                            <span class="item-attr-content"><em>27</em>天</span>
                            <span class="item-attr-title">收益期限</span>
                        </li>
                    </ul>
                    <div class="itme-speed"><img src="img/invest-speed.png"></div>
                </div>
                <div class="item-title"><span class="item-title-name">【祺天车贷007期】</span> |  <span class="item-title-sum">总金额：￥60,000</span></div>
            </a>
        </div>
    </div>
    <div class="ui-navbar">
        <ul>
            <li>
                <a href="">
                    <i class="ico ico-navbar-home"></i>
                    <span class="ui-navbar-label">主页</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="ico ico-navber-invest"></i>
                    <span class="ui-navbar-label">投资</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="ico ico-navbar-user"></i>
                    <span class="ui-navbar-label">账户管理</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>