<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-用户充值</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <a href="" class="a-left-link hide">注册</a>
            <h1 class="primary-title">收益计算器</h1>
        </header>
        <div id="body">
            <div class="form">
                <div class="form-many-group">
                    <div class="form-many-item">
                        <label class="form-label">年化利率</label>
                        <input type="text" class="ui-input-text" placeholder="请输入年化利率">
                        <i class="form-right-unit">%</i>
                    </div>
                    <div class="form-many-item">
                        <label class="form-label">收益期限</label>
                        <input type="text" class="ui-input-text" placeholder="请输入收益期限">
                        <i class="form-right-unit">天</i>
                    </div>
                    <div class="form-many-item">
                        <label class="form-label">投资金额</label>
                        <input type="text" class="ui-input-text" placeholder="请输入投资金额">
                        <i class="form-right-unit">元</i>
                    </div>
                    <div class="form-many-item">
                        <label class="form-label">到期收益</label>
                        <span class="form-value c-primary">111111111111</span>
                        <i class="form-right-unit">元</i>
                    </div>
                </div>

                <div class="form-btn ">
                    <button class="btn-primary">计算</button>
                    <p class="tar pt10 c-999 ft12"><span class="c-red vam mr5">*</span>计算结果仅供参考</p>
                </div>
            </div>
        </div>
    </div>
<script src="../../lib/sea.js"></script>
<script>seajs.use("page/mobile/member/")</script>
</body>
</html>