<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-意见反馈</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <a href="" class="a-left-link hide">注册</a>
            <h1 class="primary-title">意见反馈</h1>
        </header>
        <div id="body">
            <div class="form feedback">
                <div class="form-item form-item-select">
                    <span class="ui-select">
                        <select>
                            <option value="">请选择反馈类型</option>
                        </select>
                    </span>
                </div>
                <div class="form-item form-item-textarea"><textarea name="" placeholder="请简单描述您的问题..."></textarea><div class="tar c-999 ft12">您最多可以输入240个字</div></div>
                <div class="form-item form-item-select mt10">
                    <span class="c-666">请提供问题截图<em class="ft12 c-999">（可选）</em></span>
                </div>
                <div class="form-item form-item-textarea">
                    <div class="add-pic">
                        <a href="" class="btn-add-pic qtydfont">&#xe62d;<input type="file" id="feedback_img" name="Filedata"></a>
                    </div>
                    <div class="tar c-999 ft12">单张图片不可大于2M</div>
                </div>

                <div class="form-btn mt15">
                    <button class="btn-primary">提 交</button>
                </div>
            </div>
        </div>
    </div>
<script src="../../lib/sea.js"></script>
<script>seajs.use("page/mobile/member/")</script>
</body>
</html>