<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>祺天优贷-投资</title>
	<meta name="keywords" content="祺天优贷"/>
    <meta name="description" content="祺天优贷"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">祺天房贷057期</h1>
            <a href="" class="a-right-link">充值</a>
        </header>
        <div id="body">
            <div class="form">
                <div class="form-head c-666">可投金额: <span class="c-primary ml5">89,560.<em class="ft12">00 元</em></span></div>
                <div class="form-group">
                    <div class="form-item-group cl"><label class="form-label">自动填写</label><button type="button" id="btnSendSms" class="btn-captcha">自动填写</button></div>
                    <div class="form-tips tar c-999 ft12">可用余额 <span class="c-primary">5038.<em class="ft12">00 </em></span>元</div>
                </div>
                <div class="form-group">
                    <div class="form-item-group"><label class="form-label">投资金额</label><input type="number" class="ui-input-text mr20" placeholder="请输入金额"></div>
                </div>
                <div class="form-many-group">
                    <div class="form-many-item"><label class="form-label">红&nbsp;&nbsp;&nbsp;包</label><span class="ui-select c-666"><select><option value="">1888.00 (有效期至07-25) </option></select></span></div>
                    <div class="form-many-item"><label class="form-label">年化券</label><span class="ui-select c-666"><select><option value="">0.18% (有效期至07-25) </option></select></span></div>
                </div>
                <div class="form-head c-666">投资总额: <span class="c-primary ml5">5038.<em class="ft12">00 元</em></span></div>
                <div class="form-group">
                    <div class="form-item-group"><label class="form-label">支付密码</label><input type="text" class="ui-input-text mr20" placeholder="请输入支付密码"></div>
                </div>
                <div class="form-btn mt15">
                    <button class="btn-primary">提 交</button>
                </div>
                <div class="mt40 tac c-success ft12"><i class="qtydfont ft16 mr5">&#xe615;</i>账户资金由新浪支付全程托管，工商银行监管</div>
            </div>

        </div>
    </div>
<script src="../../../lib/sea.js"></script>
<script>seajs.use("page/mobile/member/bank.js")</script>
</body>
</html>