<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>媒体报道</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">媒体报道</h1>
            <span class="icon-primary-nav qtydfont" id="icon-primary-nav">&#xe603;</span>
            <nav class="primary-nav-group">
                <a href="main.html"><i class="qtydfont">&#xe60d;</i>账户管理</a>
                <a href="recharge.html"><i class="qtydfont">&#xe613;</i>充值</a>
                <a href="bank.html"><i class="qtydfont">&#xe607;</i>银行卡</a>
                <a href=""><i class="qtydfont">&#xe600;</i>我的交易</a>
                <a href=""><i class="qtydfont">&#xe612;</i>邀请好友</a>
                <a href=""><i class="qtydfont">&#xe618;</i>安全退出</a>
            </nav>
        </header>
        <div id="body">
            <div class="notice">
                <a href="media-detail.html" class="notice-item notice-item-new">
                    <h2><i class="qtydfont">&#xe664;</i>互联网金融野心画像</h2>
                    <p class="note">互联网企业和企业家，都被认为是最具野心的。这种野心体现在方方面面...<em>more</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="media-detail.html" class="notice-item">
                    <h2>2015中国网贷运营模式调研报告：垂直细分是王道</h2>
                    <p class="note">10月30日，中国人民银行《2015中国网贷运营模式调研报告》正式发布。报告详细...<em>more</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="media-detail.html" class="notice-item">
                    <h2>职场新人如何加速财富积累</h2>
                    <p class="note">在很多刚刚步入社会的毕业生看来，新的环境，新的人生道路，一切都充斥着美好的...<em>more</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="media-detail.html" class="notice-item">
                    <h2>2015中国网贷运营模式调研报告：垂直细分是王道</h2>
                    <p class="note">10月30日，中国人民银行《2015中国网贷运营模式调研报告》正式发布。报告详细...<em>more</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="media-detail.html" class="notice-item">
                    <h2>职场新人如何加速财富积累</h2>
                    <p class="note">在很多刚刚步入社会的毕业生看来，新的环境，新的人生道路，一切都充斥着美好的...<em>more</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="media-detail.html" class="notice-item">
                    <h2>2015中国网贷运营模式调研报告：垂直细分是王道</h2>
                    <p class="note">10月30日，中国人民银行《2015中国网贷运营模式调研报告》正式发布。报告详细...<em>more</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="media-detail.html" class="notice-item">
                    <h2>职场新人如何加速财富积累</h2>
                    <p class="note">在很多刚刚步入社会的毕业生看来，新的环境，新的人生道路，一切都充斥着美好的...<em>more</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="media-detail.html" class="notice-item">
                    <h2>2015中国网贷运营模式调研报告：垂直细分是王道</h2>
                    <p class="note">10月30日，中国人民银行《2015中国网贷运营模式调研报告》正式发布。报告详细...<em>more</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="media-detail.html" class="notice-item">
                    <h2>职场新人如何加速财富积累</h2>
                    <p class="note">在很多刚刚步入社会的毕业生看来，新的环境，新的人生道路，一切都充斥着美好的...<em>more</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="media-detail.html" class="notice-item">
                    <h2>2015中国网贷运营模式调研报告：垂直细分是王道</h2>
                    <p class="note">10月30日，中国人民银行《2015中国网贷运营模式调研报告》正式发布。报告详细...<em>more</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="media-detail.html" class="notice-item">
                    <h2>职场新人如何加速财富积累</h2>
                    <p class="note">在很多刚刚步入社会的毕业生看来，新的环境，新的人生道路，一切都充斥着美好的...<em>more</em></p>
                    <time class="time">2015-11-03</time>
                </a>
            </div>
        </div>
    </div>
<script src="../../lib/sea.js"></script>
<script>seajs.use("page/mobile/main/notice.js")</script>
</body>
</html>