<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>项目详细</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/mobile.css">
</head>
<body>
    <div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <h1 class="primary-title">官方公告</h1>
            <span class="icon-primary-nav qtydfont" id="icon-primary-nav">&#xe603;</span>
            <nav class="primary-nav-group">
                <a href="main.html"><i class="qtydfont">&#xe60d;</i>账户管理</a>
                <a href="recharge.html"><i class="qtydfont">&#xe613;</i>充值</a>
                <a href="bank.html"><i class="qtydfont">&#xe607;</i>银行卡</a>
                <a href=""><i class="qtydfont">&#xe600;</i>我的交易</a>
                <a href=""><i class="qtydfont">&#xe612;</i>邀请好友</a>
                <a href=""><i class="qtydfont">&#xe618;</i>安全退出</a>
            </nav>
        </header>
        <div id="body">
            <div class="notice">
                <a href="notice-detail.html" class="notice-item notice-item-new">
                    <h2><i class="qtydfont">&#xe664;</i>“万里挑一”第19万位注册用户获奖公告</h2>
                    <p class="note">尊敬的祺天优贷用户：2015年11月2日，祺天优贷用户数突破19万！上线至今...<em>More</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="notice-detail.html" class="notice-item">
                    <h2><i class="qtydfont">&#xe664;</i>祺天优贷APP正式发布 随时随地掌握理财</h2>
                    <p class="note">时间如白驹过隙，祺天优贷自上线以来，凭借高收益低风险的理财产品以及安全第一、极致透...<em>More</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="notice-detail.html" class="notice-item">
                    <h2><i class="qtydfont">&#xe664;</i>“万里挑一”第19万位注册用户获奖公告</h2>
                    <p class="note">尊敬的祺天优贷用户：2015年11月2日，祺天优贷用户数突破19万！上线至今...<em>More</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="notice-detail.html" class="notice-item">
                    <h2><i class="qtydfont">&#xe664;</i>祺天优贷APP正式发布 随时随地掌握理财</h2>
                    <p class="note">时间如白驹过隙，祺天优贷自上线以来，凭借高收益低风险的理财产品以及安全第一、极致透...<em>More</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="notice-detail.html" class="notice-item">
                    <h2><i class="qtydfont">&#xe664;</i>“万里挑一”第19万位注册用户获奖公告</h2>
                    <p class="note">尊敬的祺天优贷用户：2015年11月2日，祺天优贷用户数突破19万！上线至今...<em>More</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="notice-detail.html" class="notice-item">
                    <h2><i class="qtydfont">&#xe664;</i>祺天优贷APP正式发布 随时随地掌握理财</h2>
                    <p class="note">时间如白驹过隙，祺天优贷自上线以来，凭借高收益低风险的理财产品以及安全第一、极致透...<em>More</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="notice-detail.html" class="notice-item">
                    <h2><i class="qtydfont">&#xe664;</i>“万里挑一”第19万位注册用户获奖公告</h2>
                    <p class="note">尊敬的祺天优贷用户：2015年11月2日，祺天优贷用户数突破19万！上线至今...<em>More</em></p>
                    <time class="time">2015-11-03</time>
                </a>
                <a href="notice-detail.html" class="notice-item">
                    <h2><i class="qtydfont">&#xe664;</i>祺天优贷APP正式发布 随时随地掌握理财</h2>
                    <p class="note">时间如白驹过隙，祺天优贷自上线以来，凭借高收益低风险的理财产品以及安全第一、极致透...<em>More</em></p>
                    <time class="time">2015-11-03</time>
                </a>
            </div>
        </div>
    </div>
<script src="../../lib/sea.js"></script>
<script>seajs.use("page/mobile/main/notice.js")</script>
</body>
</html>