<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>项目详细记录</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/mobile.css">
</head>
<body>
	<div id="m">
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <a href="../register.html" class="a-left-link hide">注册</a>
            <h1 class="primary-title">祺天房贷009期</h1>
            <span class="icon-primary-nav qtydfont" id="icon-primary-nav">&#xe603;</span>
            <nav class="primary-nav-group">
                <a href="main.html"><i class="qtydfont">&#xe60d;</i>账户管理</a>
                <a href="recharge.html"><i class="qtydfont">&#xe613;</i>充值</a>
                <a href="bank.html"><i class="qtydfont">&#xe607;</i>银行卡</a>
                <a href=""><i class="qtydfont">&#xe600;</i>我的交易</a>
                <a href=""><i class="qtydfont">&#xe612;</i>邀请好友</a>
                <a href=""><i class="qtydfont">&#xe618;</i>安全退出</a>
            </nav>
        </header>
        <div id="body">
            <div class="tabfixed">
                <ul class="tabfixed-two">
                    <li><a href="project-detail-cont.html">项目详情</a></li>
                    <li class="current"><a href="project-detail-log.html">投资记录</a></li>
                </ul>
            </div>

            <table class="project-detail-log">
                <tr>
                    <th width="30%">投资用户</th>
                    <th width="40%">投资金额</th>
                    <th width="30%">投资时间</th>
                </tr>
                <tr>
                    <td>180****4631<i class="qtydfont ft16" title="手机投资">&#xe668;</i><p class="c-red"><i class="qtydfont ft14 c-red">&#xe652;</i>28.00元</p></td>
                    <td>20,000元</td>
                    <td>2015-02-05 18:00:08</td>
                </tr>
                <tr>
                    <td>180****4631</td>
                    <td>20,000元</td>
                    <td>2015-02-05 18:00:08</td>
                </tr>
                <tr>
                    <td>180****4631</td>
                    <td>20,000元</td>
                    <td>2015-02-05 18:00:08</td>
                </tr>
                <tr>
                    <td>180****4631</td>
                    <td>20,000元</td>
                    <td>2015-02-05 18:00:08</td>
                </tr>
                <tr>
                    <td>180****4631<p class="c-red"><i class="qtydfont ft14 c-red">&#xe652;</i>28.00元</p></td>
                    <td>20,000元</td>
                    <td>2015-02-05 18:00:08</td>
                </tr>
                <tr>
                    <td>180****4631</td>
                    <td>20,000元</td>
                    <td>2015-02-05 18:00:08</td>
                </tr>
                <tr>
                    <td>180****4631</td>
                    <td>20,000元</td>
                    <td>2015-02-05 18:00:08</td>
                </tr>
                <tr>
                    <td>180****4631</td>
                    <td>20,000元</td>
                    <td>2015-02-05 18:00:08</td>
                </tr>
                <tr>
                    <td>180****4631</td>
                    <td>20,000元</td>
                    <td>2015-02-05 18:00:08</td>
                </tr>
            </table>
        </div>
    </div>
<script src="https://www.qtyd.com/js/jquery/1.11.1/jquery.min.js"></script>
<script src="https://www.qtyd.com/js/jquery.superSlide.js"></script>
<script src="https://www.qtyd.com/js/fancybox/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" type="text/css" href="https://www.qtyd.com/js/fancybox/jquery.fancybox.css">
<script type="text/javascript">
    $(function () {
        $(".bid-company-scroll").slide({mainCell: ".scrollWrap ul", effect: "leftLoop", vis: 4});
        $(".bid-detail-pic-scroll").slide({mainCell: ".scrollWrap ul", effect: "leftLoop", vis: 4});
        $(".fancybox li a").attr("rel", "fancybox-button").fancybox();
        $(".fancybox-pledge a").attr("rel", "fancybox-btn").fancybox();
    });
</script>
</body>
</html>