<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>项目列表</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/mobile.css">
</head>
<body>
	<div id="m">
        <header id="header">
            <!-- <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a> -->
            <a href="../register.html" class="a-left-link hide">注册</a>
            <h1 class="primary-title" id="j-project-nav">项目列表<i class="qtydfont ml5">&#xe61f;</i></h1>
            <nav class="project-nav">
                <a href="" class="current">全  部</a>
                <a href="">新手标</a>
                <a href="">新车贷</a>
                <a href="">祺天车贷</a>
                <a href="">祺天房贷</a>
                <a href="">祺天票据</a>
            </nav>
        </header>
        <div id="body">
            <div class="tabfixed">
                <ul class="tabfixed-four">
                    <li class="current"><a href="#">全部</a></li>
                    <li><a href="#">年利率 <i class="qtydfont c-999">&#xe672;</i></a></li>
                    <li><a href="#">期限 <i class="qtydfont c-999">&#xe673;</i></a></li>
                    <li><a href="#">金额 <i class="qtydfont c-999">&#xe672;</i></a></li>
                </ul>
            </div>
            <!--
            welfare    福利标
            forecast   新标预告
            finish     已满标
            novice     新手专享
            repayment  已还款

             -->
            <article class="project-list">
                <section class="project-item forecast">
                    <dl>
                        <dd class="c-primary"><span class="ft25">15</span> %</dd>
                        <dt>年利率</dt>
                    </dl>
                    <dl>
                    <dd><span class="ft18">31</span>天</dd>
                        <dt>期限</dt>
                    </dl>
                    <div class="p-item-progress">
                        <div class="pie_progress" role="progressbar" data-goal="100" data-barcolor="#f0494f" data-fillcolor="#fff" aria-valuemax="100">
                            <div class="project-time">02:59:59</div>
                        </div>
                    </div>
                    <h3 class="ft14">【新车贷019期】<span class="c-999 ft12">可投金额:  ¥ 3,000,000</span></h3>
                </section>
                <section class="project-item welfare">
                    <dl>
                        <dd class="c-primary"><span class="ft25">15</span> %</dd>
                        <dt>年利率</dt>
                    </dl>
                    <dl>
                    <dd><span class="ft18">31</span>天</dd>
                        <dt>期限</dt>
                    </dl>
                    <div class="p-item-progress">
                        <div class="pie_progress" role="progressbar" data-goal="100" data-barcolor="#f0494f" data-fillcolor="#fff" aria-valuemax="100">
                            <div class="project-time">02:59:59</div>
                        </div>
                    </div>
                    <h3 class="ft14">【新车贷019期】<span class="c-999 ft12">可投金额:  ¥ 3,000,000</span></h3>
                </section>
                <section class="project-item novice">
                    <dl>
                        <dd class="c-primary"><span class="ft25">15</span> %</dd>
                        <dt>年利率</dt>
                    </dl>
                    <dl>
                    <dd><span class="ft18">31</span>天</dd>
                        <dt>期限</dt>
                    </dl>
                    <div class="p-item-progress">
                        <div class="pie_progress" role="progressbar" data-goal="100" data-barcolor="#f0494f" data-fillcolor="#fff" aria-valuemax="100">
                            <div class="project-time">02:59:59</div>
                        </div>
                    </div>
                    <h3 class="ft14">【新车贷019期】<span class="c-999 ft12">可投金额:  ¥ 3,000,000</span></h3>
                </section>
                <section class="project-item finish">
                    <dl>
                        <dd class="c-primary"><span class="ft25">15</span> %</dd>
                        <dt>年利率</dt>
                    </dl>
                    <dl>
                    <dd><span class="ft18">31</span>天</dd>
                        <dt>期限</dt>
                    </dl>
                    <div class="p-item-progress">
                        <div class="pie_progress" role="progressbar" data-goal="100" data-barcolor="#f0494f" data-fillcolor="#fff" aria-valuemax="100">
                            <div class="project-time">02:59:59</div>
                        </div>
                    </div>
                    <h3 class="ft14">【新车贷019期】<span class="c-999 ft12">可投金额:  ¥ 3,000,000</span></h3>
                </section>
                <section class="project-item repayment">
                    <dl>
                        <dd class="c-primary"><span class="ft25">15</span> %</dd>
                        <dt>年利率</dt>
                    </dl>
                    <dl>
                    <dd><span class="ft18">31</span>天</dd>
                        <dt>期限</dt>
                    </dl>
                    <div class="p-item-progress">
                        <div class="pie_progress" role="progressbar" data-goal="100" data-barcolor="#f0494f" data-fillcolor="#fff" aria-valuemax="100">
                            <div class="project-time">02:59:59</div>
                        </div>
                    </div>
                    <h3 class="ft14">【新车贷019期】<span class="c-999 ft12">可投金额:  ¥ 3,000,000</span></h3>
                </section>
            </article>
        </div>
    </div>
<script src="../../lib/sea.js"></script>
<script>seajs.use("page/mobile/main/project-detail.js")</script>
</body>
</html>