<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>项目详细</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../../css/mobile.css">
</head>
<body>
        <header id="header">
            <a href="javascript:history.back();" class="a-back"><i class="qtydfont">&#xe623;</i>返回</a>
            <a href="../register.html" class="a-left-link hide">注册</a>
            <h1 class="primary-title">祺天房贷009期</h1>
            <span class="icon-primary-nav qtydfont" id="icon-primary-nav">&#xe603;</span>
            <nav class="primary-nav-group">
                <a href="main.html"><i class="qtydfont">&#xe60d;</i>账户管理</a>
                <a href="recharge.html"><i class="qtydfont">&#xe613;</i>充值</a>
                <a href="bank.html"><i class="qtydfont">&#xe607;</i>银行卡</a>
                <a href=""><i class="qtydfont">&#xe600;</i>我的交易</a>
                <a href=""><i class="qtydfont">&#xe612;</i>邀请好友</a>
                <a href=""><i class="qtydfont">&#xe618;</i>安全退出</a>
            </nav>
        </header>
        <div id="body">
        <!--
        welfare    福利标
        forecast     新标预告
        finish     已满标
        novice     新手专享
        repayment  已还款

         -->
        	<div class="project-base finish">
        		<h1 class="project-title">珠海市华融情海花园房抵押贷款项目</h1>
	        	<div class="project-progress pie_progress" role="progressbar" data-goal="100" data-barcolor="#f0494f" data-fillcolor="#fff" aria-valuemax="100">
	        		<div class="project-profit">
	        			<dl>
	        				<dt>年利率</dt>
	        				<dd class="c-primary ft14 hwxh"><i class="ft25 ">16 %</i></dd>
	        			</dl>
	        			<dl>
	        				<dt>可投金额（元）</dt>
	        				<dd class="c-primary ft18 hwxh">600,000.00</dd>
	        			</dl>
	        		</div>
	        	</div>
        		<p class="project-deadline">期限：<span class="c-primary hwxh">168 天</span></p>
        		<p class="project-quota"><span class="c-primary hwxh">1000 元</span> 起投</p>
	        </div>

	        <div class="project-property">
	        	<ul class="cl hwxh">
	        		<li><label>项目总额：</label><span>9000,000 元</span></li>
	        		<li><label>计息方式：</label><span>T(投资日)+1</span></li>
	        		<li><label>起止日期：</label><span>2015.07.19 2015.09.20</span></li>
	        		<li><label>还款方式：</label><span>按日计息 按月付息 到期还本</span></li>
	        	</ul>
	        	<table>
        			<tr class="c-999">
        				<td width="7%"><i class="qtydfont">&#xe646;</i></td>
        				<td width="15%">首  投</td>
        				<td width="28%">虚位以待</td>
        				<td width="50%"><span class="c-primary">18元</span> 首投红包</td>
        			</tr>
        			<tr>
        				<td><i class="qtydfont">&#xe646;</i></td>
        				<td>最  高</td>
        				<td>虚位以待</td>
        				<td><span class="c-primary">38元</span> 最高投红包</td>
        			</tr>
        			<tr>
        				<td><i class="qtydfont">&#xe646;</i></td>
        				<td>尾  投</td>
        				<td>虚位以待</td>
        				<td><span class="c-primary">28元</span> 收官红包</td>
        			</tr>
	        	</table>
	        </div>

	        <a href="" class="project-more">查看项目详情<i class="qtydfont ft16 c-999">&#xe628;</i></a>
        </div>

        <div class="btnfixed invest">

        	<button type="" class="btn-primary">立即投资</button><!-- disabled 为不可点击按钮满标使用 -->
        	<!-- <button type="" class="btn-primary countdown">05:18:27</button> -->
        </div>
<script src="../../lib/sea.js"></script>
<script>seajs.use("page/mobile/main/project-detail.js")</script>
</body>
</html>