html,body{ background-color: #54488e; }
#header{ background-color: #352a6c; }
.img100{ width: 100%; }
.tabfixed{  border-bottom: 2px solid #695da2; background-color: #54488e;  }
.tabfixed ul li{ height: 40px; background-color: #3e3376; border-bottom: none; }
.tabfixed ul li a{ color: #8f7eb5; -webkit-box-sizing: border-box; box-sizing:border-box; }
.tabfixed ul li.current a{ color: #e4ccff; }
.tabfixed ul li.current{ background-color: #54488e; border-bottom: none; }
.tabfixed ul li.current:first-child a{ border-right: 1px solid #695da2; }
.tabfixed ul li.current:last-child a{ border-left: 1px solid #695da2; }
.bottomfixed{ position: fixed; bottom: 0; width: 100%; min-width: 320px; height: 24px; background: url(../img/bottom_bg.png) repeat-x center top; background-size: 100%; }

/* 首页 */
.banner{ position: relative; margin: 0 auto; max-width: 640px; min-width: 320px; }
.banner .a-rule{ position: absolute; right: 0; top: 15px; padding: 3px 10px 3px 15px; border: 1px solid #c69eff; border-right: 0; border-radius: 10px 0 0 10px; background-color: #2c0e64; color: #8a6ac7; opacity: 0.5; }
.banner .a-back{ left: 10px; top: 15px; padding-left: 1px; height: 24px; width: 23px; line-height: 24px;  border: 1px solid #c69eff; border-radius: 26px; background-color: #2c0e64; color: #8a6ac7; opacity: 0.5; }
.banner img,.select-car img{ width: 100%; }
.login{ position: absolute; bottom: 8%; }
.user-value{ position: absolute; bottom: 8%; text-align: center; }
.user-value span{ position: absolute; left: 0; bottom: 16%; display: block; width: 100%; font-size: 28px; color: #ccc6df; }

.select-car{ position: relative; margin: 0 auto; max-width: 640px; min-width: 320px; }
.left-car{ position: absolute; width: 50%; left: 0; top: 0; }
.right-car{ position: absolute; width: 50%; right: 0; top: 0; }
.left-car img,.right-car img{ opacity: 0.5; }
.left-car span,.right-car span{ display: block; opacity: 0.7; text-align: center; color: #a79bed; position: relative; margin-top: -5px; }
.left-car .line,.right-car .line{ position: absolute; display: none; }
.left-car.select .line,.right-car.select .line{ display: block; }
.left-car.select img,.right-car.select img{ opacity: 1; }
.left-car.select span,.right-car.select span{ opacity: 1; color: #ffcb4e; }

.select-number{ position: absolute; top: 60%; display: block; width: 100%; font-size: 16px; text-align: center;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 200, 1)), to(rgba(239, 130, 35, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-submit{ position: absolute; top: 68%; display: inline-block; left: 50%; margin-left: -60px; width: 120px; height: 40px; line-height: 40px; text-align: center; border: 1px solid #5e50ac; background-color: transparent; color: #8174c8; border-radius: 20px; font-size: 18px;
}
.btn-submit.select{
    border-color: #b56810;
    color: #fef0b4;
    background: -webkit-linear-gradient(#cd7916, #b13d0a);
    background: -o-linear-gradient(#cd7916, #b13d0a);
    background: -moz-linear-gradient(#cd7916, #b13d0a);
    background: linear-gradient(#cd7916, #b13d0a);
}
.btn-record{ position: absolute; top: 80%; display: inline-block; left: 50%; margin-left: -45px; width: 90px; height: 32px; line-height: 32px; text-align: center; border: 1px solid #5e50ac; background-color: transparent; color: #8174c8; border-radius: 16px; font-size: 14px; }

/* 规则 */
.rule{ padding: 40px 15px; color: #fff; }
.rule h2{ padding: 10px 0; text-align: center; color: #feeeb2; font-size: 18px; font-weight: 300; border-bottom: 1px solid #695da2; }
.rule ul{ padding: 15px 0 15px 28px; color: #e4ccff; }
.rule ul li{ position: relative; padding: 5px 0; font-size: 14px; }
.rule ul li i{ display: inline-block; float: left; margin-top: 1px; margin-left: -28px; width: 18px; height: 18px; line-height: 18px; border-radius: 18px; color: #54488e; text-align: center; background-color: #e4ccff; }
.rule ul li p img{ margin: 15px 0; max-width: 100%; }

/* 用户记录 */
.user-log{ padding: 55px 15px 40px;  }
.user-log ul li{ -webkit-box-sizing: border-box; box-sizing:border-box; width: 100%; padding: 0 10px; font-size: 14px; background-color: #5d5194; height: 40px; line-height: 40px; color: #e4ccff; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;  }
.user-log ul li:nth-child(even){ background-color: #504487; }
.user-log ul li span{  overflow: hidden; text-overflow: ellipsis;white-space: nowrap; }
.user-log ul li .name{ display: inline-block; width: 55%; }
.user-log ul li .name em{ margin-right: 10px; }
.user-log ul li .prize{ display: inline-block; width: 45%; }
.user-log ul li .prize em{ margin-left: 10px; }
.user-log ul li .prize em.c-orange{ color: #fffa67 }
.log-null{ padding-top: 100px; min-height: 300px; text-align: center; color: #9e98bb; font-size: 16px; }
.log-null img{ margin: 0 auto 20px; }
.log-null a{ color: #9e98bb; }

/* 游戏 */
.monopoly{ position: relative; height: 100%; overflow: hidden; }
.roller{ position: absolute; width: 100%; }
.roller img, .car img{ width: 100%; }
.car{ position: absolute; z-index: 100; left: 50%; top: 50%; width: 40px; margin-left: -20px; }
#energy { position: absolute; left: 5%; top: 55%; display: block; z-index: 200; width: 27px; height: 195px; background: url(../img/energy_bg.png); background-repeat: no-repeat; line-height: 195px; background-size: 100%; }
.energy-bar { position: absolute; left: 6px; bottom: 9px; display: block; width: 15px; height: 188px; background: url(../img/energy_bar.png); background-position: left bottom; background-repeat: no-repeat; background-size: 100%; }
.a{ position: absolute; z-index: 1000; }
#car_run{ position: absolute; left: 50%; bottom: 0; margin-left: -65px; display: block; width: 130px; height: 58px; background-image: url(../img/car_run.png); background-position: left top; background-repeat: no-repeat; background-color: transparent; border: none; overflow: hidden; text-indent: -999em; }

/* 礼品层 */
.gift-layer{ position: fixed; z-index: 10000; top: 50%; margin-top: -25%; padding: 20px 0 30px; max-width: 640px; min-width: 320px; background-color: rgba(0,0,0,0.5); }
.gift-box img{ width: 100%; }
.gift-guide{ text-align: center; padding-top: 20px; }
.btn-gift-layer{ font-size: 16px; display: inline-block; margin: 0 10px; padding: 6px 20px; background-color: #ffe71d; border-bottom: 3px solid #fa9144; border-radius: 10px; color: #bf1e2e; }

@media (max-width: 550px){
    .user-value span{ font-size: 20px; bottom: 15%; }
    .select-number{ font-size: 14px; }
    .btn-submit{ top: 70%; height: 36px; line-height: 36px; font-size: 16px; }
    .btn-record{ top: 85%; height: 28px; line-height: 28px; font-size: 12px; }
    .user-log{ padding-bottom: 50px; }
    .gift-layer{ margin-top: -30%; }
}
@media (max-width: 350px){
    .gift-layer{ margin-top: -35%; }
    .user-value span{ font-size: 16px; bottom: 14%; }
    .select-number{ font-size: 12px; }
    .btn-submit{ top: 70%; height: 30px; line-height: 30px; font-size: 14px; }
    .btn-record{ top: 85%; height: 26px; line-height: 26px; font-size: 12px; }
    .user-log ul li{ font-size: 12px; }
    .user-log{ padding-bottom: 40px; }
    .btn-gift-layer{ padding: 4px 15px; font-size: 14px; }
}